Este script produce el siguiente flujo de trabajo:

1) Importar shapes desde directorio raiz
2) Importar una tabla de equivalencia de codigos
3) Crear una nueva columna USOS_AG y asignamos las categorias simplificadas.
4) Creamos una nueva columna usos_cod_a y asignamos un código numérico a cada columna
5) Eliminamos las categorias sin edificar y otros
6) Exportar los nuevos shapefile
7) A partir de los nuevos datos se calculó los porcentajes de cada uso del suelo luego sin considerar sin edificar y otros.

In [2]:
import pandas as pd
import geopandas as gpd
import os
import glob
import string

Progress bar youtube video: https://www.youtube.com/watch?v=n4E7of9BINo&t=6s&ab_channel=RobMulla

In [5]:
from tqdm import tqdm, trange ### Este es un paquete que sirve para poder hacer la barra de progreso.
from time import sleep
from tqdm.notebook import tqdm

In [3]:
#path =(r"C:/projectos/shapes/marcos_clasificacion/")
path = (r"C:/ciudades clasificacion/marcos_clasificacion_ag/")
# Change the directory
os.chdir(path)

In [10]:
dict_shapes = {}
pbar = tqdm(total = 72)
# Iterate over all the files in the directory
for file in os.listdir():
   if file.endswith('.shp') and file[0].isalpha():
       temp = gpd.read_file(file)
       dict_shapes[file] = temp
       pbar.update(1)
       sleep(0.0001)
pbar.close()

ImportError: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html

In [58]:
dict_shapes

{'Avila.shp':          COORX      COORY  AREA          REFCAT  A_TOT_EDIF  SUP_ED_0  \
 0    356146.04 4501680.61   115  6219012UL5061N         148        83
 1    355869.04 4501678.01   110  6019701UL5051N         336         0
 2    352397.49 4494133.66   117  2544406UK5924S         238        91
 3    352318.21 4494121.85   135  2443220UK5924S         270       135
 4    355938.71 4501646.15   112  6019403UL5061N         545       100
 ...        ...        ...   ...             ...         ...       ...
 8948 355822.73 4502136.02    56  5924007UL5052S         112        56
 8949 355822.74 4502149.19   128  5924006UL5052S         128       128
 8950 355818.86 4502160.66   123  5924005UL5052S         198       106
 8951 356071.20 4499767.35  2798  6200107UL5060S           0         0
 8952 356107.63 4499763.54  2798  6200106UL5060S           0         0

       SUP_ED_1  ANTIGUEDAD  N_PLANTAS  NUM_INM_R  ... IND  OFI  COM  \
 0           65        1964          1          1  ...   0    0    0
 1          104        1967          3          7  ...   0    0    0
 2          147        1992          1          1  ...   0    0    0
 3          135        1900          1          0  ...   0    0    0
 4          100        1962          4         11  ...   0    0    0
 ...        ...         ...        ...        ...  ...  ..  ...  ...
 8948        56        1950          1          1  ...   0    0    0
 8949         0        1952          0          0  ...   0    0    0
 8950        92        1981          1          1  ...   0    0    0
 8951         0           0          0          0  ...   0    0    0
 8952         0           0          0          0  ...   0    0    0

       EQUIP_SANI  EQUIP_EDU  EQUIP_OTR  OCIO_ESP  HOS_REST  ED_SING  \
 0              0          0          0         0         0        0
 1              0          0          0         0         0        0
 2              0          0          0         0         0        0
 3              0          0          0         0         0        0
 4              0          0          0         0         0        0
 ...          ...        ...        ...       ...       ...      ...
 8948           0          0          0         0         0        0
 8949           0          0          0         0         0        0
 8950           0          0          0         0         0        0
 8951           0          0          0         0         0        0
 8952           0          0          0         0         0        0

                                                geometry
 0     POLYGON ((356157.195 4501684.802, 356157.476 4...
 1     POLYGON ((355865.484 4501678.584, 355868.544 4...
 2     POLYGON ((352396.373 4494136.831, 352400.903 4...
 3     POLYGON ((352312.173 4494128.781, 352312.103 4...
 4     POLYGON ((355933.254 4501647.064, 355933.674 4...
 ...                                                 ...
 8948  POLYGON ((355825.962 4502142.345, 355825.749 4...
 8949  POLYGON ((355826.984 4502158.495, 355826.987 4...
 8950  POLYGON ((355818.820 4502156.654, 355809.940 4...
 8951  POLYGON ((356085.441 4499728.957, 356049.011 4...
 8952  POLYGON ((356093.391 4499804.938, 356129.822 4...

 [8953 rows x 24 columns],
 'Madrid.shp':            COORX      COORY    AREA          REFCAT  A_TOT_EDIF  SUP_ED_0  \
 0      446416.80 4472079.07  110108  6522301VK4762D       42741     39542
 1      429373.98 4481071.39    3084  9512514VK2891D        1260       605
 2      442963.08 4465900.01   61671  3061701VK4636A           0         0
 3      437630.29 4481134.45     353  7613546VK3871D         307       111
 4      437634.97 4481118.90     394  7613545VK3871D         334       125
 ...          ...        ...     ...             ...         ...       ...
 137759 449461.93 4480317.82     213  9604521VK4890D         231        79
 137760 438976.12 4477397.85     900  9075503VK3797E         963       253
 137761 449949.76 4472168.22     962  9824508VK4792D        1076       964
 137762 449885.49 4472188.30    9015  9824506VK4792D        4218      3434
 137763 439001.62 4477355.14    4164  9075501VK3797E       13218      1793

         SUP_ED_1  ANTIGUEDAD  N_PLANTAS  NUM_INM_R  ... IND  OFI  COM  \
 0           1407        1979          2          0  ...   0    0    0
 1            311        1997          1          1  ...   0    0    0
 2              0           0          0          0  ...   0    0    0
 3             81        1983          2          1  ...   0    0    0
 4             85        1983          2          1  ...   0    0    0
 ...          ...         ...        ...        ...  ...  ..  ...  ...
 137759        60        2003          2          1  ...   0    0    0
 137760       236        1973          2          0  ...   0    0    0
 137761       112        1966          1          0  ...   0    0    0
 137762       413        1964          2          0  ...  70   30    0
 137763      1456        2022          3          0  ...   0    0    0

         EQUIP_SANI  EQUIP_EDU  EQUIP_OTR  OCIO_ESP  HOS_REST  ED_SING  \
 0                0          0         99         0         1        0
 1                0          0          7         0         0        0
 2                0          0          0         0         0        0
 3                0          0          8         0         0        0
 4                0          0          6         0         0        0
 ...            ...        ...        ...       ...       ...      ...
 137759           0          0          0         0         0        0
 137760           0        100          0         0         0        0
 137761           0          0         71         0         0       29
 137762           0          0          0         0         0        0
 137763           0         63         35         0         0        3

                                                  geometry
 0       POLYGON ((446311.187 4472177.764, 446312.670 4...
 1       POLYGON ((429358.628 4481106.158, 429363.568 4...
 2       POLYGON ((442895.447 4466121.871, 442896.697 4...
 3       POLYGON ((437639.717 4481128.006, 437638.218 4...
 4       POLYGON ((437639.717 4481128.006, 437640.768 4...
 ...                                                   ...
 137759  POLYGON ((449473.762 4480329.503, 449474.064 4...
 137760  POLYGON ((438998.690 4477404.510, 438998.460 4...
 137761  POLYGON ((449940.522 4472196.090, 449960.481 4...
 137762  POLYGON ((449938.992 4472197.496, 449940.522 4...
 137763  POLYGON ((439034.670 4477332.064, 439030.110 4...

 [137764 rows x 24 columns],
 'Malaga.shp':           COORX      COORY  AREA          REFCAT  A_TOT_EDIF  SUP_ED_0  \
 0     377842.23 4064662.08    25  7948102UF7674N          50         0
 1     377832.40 4064659.86   168  7948101UF7674N         439       242
 2     368204.28 4067731.81  1206  8278140UF6687N        1018       367
 3     368219.97 4067757.72   502  8278144UF6687N           0         0
 4     365945.80 4056978.71   420  6172134UF6567S         251       173
 ...         ...        ...   ...             ...         ...       ...
 51686 372940.10 4064996.92   113  3052210UF7635S         394        85
 51687 373849.72 4064912.35  1270  3950110UF7635S        3081       881
 51688 374967.84 4065090.20  2085  5153213UF7655S        1529       360
 51689 374976.51 4065154.01  1122  5153215UF7655S           0         0
 51690 374960.89 4065206.99  3145  5153203UF7655S        3501       405

        SUP_ED_1  ANTIGUEDAD  N_PLANTAS  NUM_INM_R  ... IND  OFI  COM  \
 0             0        1982          0          1  ...   0    0    0
 1           169        1981          2          2  ...   0    0    0
 2           350        2009          1          1  ...   0    0    0
 3             0           0          0          0  ...   0    0    0
 4            78        1982          1          1  ...   0    0    0
 ...         ...         ...        ...        ...  ...  ..  ...  ...
 51686        87        2016          3          6  ...   0    0   22
 51687       980        2008          3          0  ...   0    0    0
 51688       360        1988          2         15  ...   0    0    0
 51689         0           0          0          0  ...   0    0    0
 51690       899        1986          3         21  ...   0    0    0

        EQUIP_SANI  EQUIP_EDU  EQUIP_OTR  OCIO_ESP  HOS_REST  ED_SING  \
 0               0          0          0         0         0        0
 1               0          0          0         0        38        0
 2               0          0          0         0         0        0
 3               0          0          0         0         0        0
 4               0          0          6         0         0        0
 ...           ...        ...        ...       ...       ...      ...
 51686           0          0          0         0         0        0
 51687           0          0        100         0         0        0
 51688           0          0          0         0         0        0
 51689           0          0          0         0         0        0
 51690           0          0          1         0         0        0

                                                 geometry
 0      POLYGON ((377845.107 4064665.644, 377844.908 4...
 1      POLYGON ((377830.542 4064668.180, 377840.168 4...
 2      POLYGON ((368226.984 4067732.300, 368226.314 4...
 3      POLYGON ((368210.293 4067760.578, 368212.617 4...
 4      POLYGON ((365955.070 4056969.572, 365939.981 4...
 ...                                                  ...
 51686  POLYGON ((372935.873 4065004.295, 372935.958 4...
 51687  POLYGON ((373864.190 4064890.945, 373863.943 4...
 51688  POLYGON ((374962.887 4065121.560, 374965.010 4...
 51689  POLYGON ((374965.214 4065121.221, 374965.010 4...
 51690  POLYGON ((374915.220 4065219.206, 374921.600 4...

 [51691 rows x 24 columns],
 'Murcia.shp':           COORX      COORY  AREA          REFCAT  A_TOT_EDIF  SUP_ED_0  \
 0     664594.32 4203432.70   974  4636607XH6043N        5095       868
 1     664623.05 4203441.62   993  4737156XH6043N           0         0
 2     667905.80 4211306.64   596  8014109XH6181N         697       388
 3     667896.99 4211290.01   810  8014110XH6181S         671       511
 4     663457.51 4207192.11  6220  3674102XH6037S       12835      6054
 ...         ...        ...   ...             ...         ...       ...
 79758 668391.89 4212727.22   130  8529711XH6182N         261       113
 79759 666457.98 4204546.32   118  6547809XH6064N         132       132
 79760 666436.33 4204534.85   176  6547807XH6064N         239       110
 79761 666454.41 4204528.39   627  6547820XH6064N           0         0
 79762 661019.48 4203514.13   369  1138911XH6013N           0         0

        SUP_ED_1  ANTIGUEDAD  N_PLANTAS  NUM_INM_R  ... IND  OFI  COM  \
 0           749        2007          4         33  ...   0    0    0
 1             0           0          0          0  ...   0    0    0
 2           218        2002          2          1  ...   0    0    0
 3           160        1976          1          1  ...   0    0    0
 4          1681        2004          5          0  ...   2    0    0
 ...         ...         ...        ...        ...  ...  ..  ...  ...
 79758       148        1993          1          1  ...   0    0    0
 79759         0        1960          0          1  ...   0    0    0
 79760       110        1986          2          2  ...   0    0    0
 79761         0           0          0          0  ...   0    0    0
 79762         0           0          0          0  ...   0    0    0

        EQUIP_SANI  EQUIP_EDU  EQUIP_OTR  OCIO_ESP  HOS_REST  ED_SING  \
 0               0          0          0         0         0        6
 1               0          0          0         0         0        0
 2               0          0          0         0         0        0
 3               0          0          0         0         0        0
 4               0          0         77         0         0       21
 ...           ...        ...        ...       ...       ...      ...
 79758           0          0          0         0         0        0
 79759           0          0          0         0         0        0
 79760           0          0          0         0         0        0
 79761           0          0          0         0         0        0
 79762           0          0          0         0         0        0

                                                 geometry
 0      POLYGON ((664586.456 4203448.797, 664602.850 4...
 1      POLYGON ((664614.922 4203423.281, 664614.699 4...
 2      POLYGON ((667889.294 4211305.848, 667884.304 4...
 3      POLYGON ((667910.813 4211275.427, 667909.853 4...
 4      POLYGON ((663402.191 4207203.914, 663404.669 4...
 ...                                                  ...
 79758  POLYGON ((668401.242 4212732.061, 668388.662 4...
 79759  POLYGON ((666462.023 4204543.415, 666458.913 4...
 79760  POLYGON ((666433.829 4204527.224, 666427.697 4...
 79761  POLYGON ((666443.983 4204534.696, 666444.033 4...
 79762  POLYGON ((661019.699 4203504.378, 661012.806 4...

 [79763 rows x 24 columns],
 'Sevilla.shp':           COORX      COORY  AREA          REFCAT  A_TOT_EDIF  SUP_ED_0  \
 0     237637.12 4140925.75   123  7711803TG3471S          80        80
 1     237631.60 4140928.92    21  7711802TG3471S         154         0
 2     237624.03 4140927.71   183  7711801TG3471S          88        88
 3     237646.36 4140924.50   124  7711804TG3471S          92        92
 4     237654.04 4140929.31    21  7711805TG3471S         154         0
 ...         ...        ...   ...             ...         ...       ...
 60213 234838.09 4143388.55   878  4937017TG3443F        1420       453
 60214 234875.48 4143405.06  2204  4937008TG3443F        4756      1729
 60215 234978.70 4143685.06   177  5139042TG3453G         692       161
 60216 234962.04 4143681.89   197  5139045TG3453G         767       178
 60217 235314.88 4143899.95    82  5441014TG3454S         112        56

        SUP_ED_1  ANTIGUEDAD  N_PLANTAS  NUM_INM_R  ... IND  OFI  COM  \
 0             0        1962          0          1  ...   0    0    0
 1           154        1962          1          2  ...   0    0    0
 2             0        1962          0          1  ...   0    0    0
 3             0        1962          0          1  ...   0    0    0
 4           154        1962          1          2  ...   0    0    0
 ...         ...         ...        ...        ...  ...  ..  ...  ...
 60213       516        2007          2         20  ...   0    0    0
 60214      1729        1978          2          0  ...   0    0    0
 60215       161        2022          4          0  ...   0    0    0
 60216       178        2022          4          0  ...   0    0    0
 60217        56        1988          1          1  ...   0    0    0

        EQUIP_SANI  EQUIP_EDU  EQUIP_OTR  OCIO_ESP  HOS_REST  ED_SING  \
 0               0          0          0         0         0        0
 1               0          0          0         0         0        0
 2               0          0          0         0         0        0
 3               0          0          0         0         0        0
 4               0          0          0         0         0        0
 ...           ...        ...        ...       ...       ...      ...
 60213           0          0          0         0         0        0
 60214           0         88         12         0         0        0
 60215           0          0          1         0        99        0
 60216           0          0          0         0       100        0
 60217           0          0          0         0         0        0

                                                 geometry
 0      POLYGON ((237631.824 4140928.075, 237632.714 4...
 1      POLYGON ((237630.626 4140931.515, 237630.130 4...
 2      POLYGON ((237630.626 4140931.515, 237631.513 4...
 3      POLYGON ((237650.885 4140918.986, 237648.112 4...
 4      POLYGON ((237651.728 4140925.424, 237650.836 4...
 ...                                                  ...
 60213  POLYGON ((234848.352 4143386.982, 234847.451 4...
 60214  POLYGON ((234853.058 4143411.462, 234857.586 4...
 60215  POLYGON ((234970.192 4143688.256, 234969.742 4...
 60216  POLYGON ((234969.593 4143690.474, 234969.742 4...
 60217  POLYGON ((235308.067 4143906.088, 235312.177 4...

 [60218 rows x 24 columns]}

In [11]:
path =(r"C:/projectos/shapes/marcos_clasificacion_ag/")
# Change the directory
os.chdir(path)

FileNotFoundError: [WinError 3] El sistema no puede encontrar la ruta especificada: 'C:/projectos/shapes/marcos_clasificacion_ag/'

In [12]:
dict_shapes = {}
pbar = tqdm(total = 72)
# Iterate over all the files in the directory
for file in os.listdir():
   if file.endswith('.shp') and file[0].isalpha():
       temp = gpd.read_file(file)
       dict_shapes[file] = temp
       pbar.update(1)
       sleep(0.0001)
pbar.close()

Exception ignored in: <function tqdm.__del__ at 0x000001EFBE5A2700>
Traceback (most recent call last):
  File "c:\Users\CRISTIAN\anaconda3\envs\spatial_uah\Lib\site-packages\tqdm\std.py", line 1145, in __del__
    self.close()
  File "c:\Users\CRISTIAN\anaconda3\envs\spatial_uah\Lib\site-packages\tqdm\notebook.py", line 283, in close
    self.disp(bar_style='danger', check_delay=False)
    ^^^^^^^^^
AttributeError: 'tqdm_notebook' object has no attribute 'disp'
Exception ignored in: <function tqdm.__del__ at 0x000001EFBE5A2700>
Traceback (most recent call last):
  File "c:\Users\CRISTIAN\anaconda3\envs\spatial_uah\Lib\site-packages\tqdm\std.py", line 1145, in __del__
    self.close()
  File "c:\Users\CRISTIAN\anaconda3\envs\spatial_uah\Lib\site-packages\tqdm\notebook.py", line 283, in close
    self.disp(bar_style='danger', check_delay=False)
    ^^^^^^^^^
AttributeError: 'tqdm_notebook' object has no attribute 'disp'
Exception ignored in: <function tqdm.__del__ at 0x000001EFBE5A2700>
Traceback (most recent call last):
  File "c:\Users\CRISTIAN\anaconda3\envs\spatial_uah\Lib\site-packages\tqdm\std.py", line 1145, in __del__
    self.close()
  File "c:\Users\CRISTIAN\anaconda3\envs\spatial_uah\Lib\site-packages\tqdm\notebook.py", line 283, in close
    self.disp(bar_style='danger', check_delay=False)
    ^^^^^^^^^
AttributeError: 'tqdm_notebook' object has no attribute 'disp'
Exception ignored in: <function tqdm.__del__ at 0x000001EFBE5A2700>
Traceback (most recent call last):
  File "c:\Users\CRISTIAN\anaconda3\envs\spatial_uah\Lib\site-packages\tqdm\std.py", line 1145, in __del__
    self.close()
  File "c:\Users\CRISTIAN\anaconda3\envs\spatial_uah\Lib\site-packages\tqdm\notebook.py", line 283, in close
    self.disp(bar_style='danger', check_delay=False)
    ^^^^^^^^^
AttributeError: 'tqdm_notebook' object has no attribute 'disp'
Exception ignored in: <function tqdm.__del__ at 0x000001EFBE5A2700>
Traceback (most recent call last):
  File "c:\Users\CRISTIAN\anaconda3\envs\spatial_uah\Lib\site-packages\tqdm\std.py", line 1145, in __del__
    self.close()
  File "c:\Users\CRISTIAN\anaconda3\envs\spatial_uah\Lib\site-packages\tqdm\notebook.py", line 283, in close
    self.disp(bar_style='danger', check_delay=False)
    ^^^^^^^^^
AttributeError: 'tqdm_notebook' object has no attribute 'disp'

ImportError: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html

In [59]:
for keys, values in dict_shapes.items():
    print(keys)

Avila.shp
Madrid.shp
Malaga.shp
Murcia.shp
Sevilla.shp

In [ ]:
# Calculo de las Áreas

In [7]:
dict_areas = {}
for key, value in dict_shapes.items():
    temps = dict_shapes[key].copy()
    temps['Area'] = temps.area
    dict_areas[key] = temps

In [8]:
dict_areas["Madrid.shp"].head(2)

,COORX,COORY,AREA,REFCAT,A_TOT_EDIF,SUP_ED_0,SUP_ED_1,ANTIGUEDAD,N_PLANTAS,NUM_INM_R,...,OFI,COM,EQUIP_SANI,EQUIP_EDU,EQUIP_OTR,OCIO_ESP,HOS_REST,ED_SING,geometry,Area
0,446416.80,4472079.07,110108,6522301VK4762D,42741,39542,1407,1979,2,0,...,0,0,0,0,99,0,1,0,"POLYGON ((446311.187 4472177.764, 446312.670 4...",110108.208172
1,429373.98,4481071.39,3084,9512514VK2891D,1260,605,311,1997,1,1,...,0,0,0,0,7,0,0,0,"POLYGON ((429358.628 4481106.158, 429363.568 4...",3084.096567

In [9]:
def uso_agregado(data_in, clases):
    data_out = {}
    for key, value in data_in.items():
        data_out[key] = value.merge(clases, on = 'USO', how = 'left')
    return data_out

In [10]:
pd.options.display.float_format = "{:.2f}".format

In [11]:
clases_agregadas = pd.read_csv("C:/projectos/shapes/clases_agregadas.csv")
clases_agregadas

           USO    USO_AG
0          COM       COM
1      ED_SING   ED_SING
2    EQUIP_EDU     EQUIP
3    EQUIP_OTR     EQUIP
4   EQUIP_SANI     EQUIP
5     HOS_REST      OCIO
6          IND       IND
7       IND_MX       IND
8     OCIO_ESP      OCIO
9          OFI       OFI
10     RES_PLU   RES_PLU
11  RES_PLU_MX   RES_PLU
12     RES_UNI   RES_UNI
13  RES_UNI_MX   RES_UNI
14    SIN_EDIF  SIN_EDIF
15       OTROS     OTROS

In [12]:
uso_agregado_g = uso_agregado(dict_areas,clases_agregadas)

In [13]:
uso_agregado_g["Madrid.shp"]

,COORX,COORY,AREA,REFCAT,A_TOT_EDIF,SUP_ED_0,SUP_ED_1,ANTIGUEDAD,N_PLANTAS,NUM_INM_R,...,COM,EQUIP_SANI,EQUIP_EDU,EQUIP_OTR,OCIO_ESP,HOS_REST,ED_SING,geometry,Area,USO_AG
0,446416.80,4472079.07,110108,6522301VK4762D,42741,39542,1407,1979,2,0,...,0,0,0,99,0,1,0,"POLYGON ((446311.187 4472177.764, 446312.670 4...",110108.21,EQUIP
1,429373.98,4481071.39,3084,9512514VK2891D,1260,605,311,1997,1,1,...,0,0,0,7,0,0,0,"POLYGON ((429358.628 4481106.158, 429363.568 4...",3084.10,RES_UNI
2,442963.08,4465900.01,61671,3061701VK4636A,0,0,0,0,0,0,...,0,0,0,0,0,0,0,"POLYGON ((442895.447 4466121.871, 442896.697 4...",61670.94,SIN_EDIF
3,437630.29,4481134.45,353,7613546VK3871D,307,111,81,1983,2,1,...,0,0,0,8,0,0,0,"POLYGON ((437639.717 4481128.006, 437638.218 4...",353.04,RES_UNI
4,437634.97,4481118.90,394,7613545VK3871D,334,125,85,1983,2,1,...,0,0,0,6,0,0,0,"POLYGON ((437639.717 4481128.006, 437640.768 4...",394.21,RES_UNI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137759,449461.93,4480317.82,213,9604521VK4890D,231,79,60,2003,2,1,...,0,0,0,0,0,0,0,"POLYGON ((449473.762 4480329.503, 449474.064 4...",213.10,RES_UNI
137760,438976.12,4477397.85,900,9075503VK3797E,963,253,236,1973,2,0,...,0,0,100,0,0,0,0,"POLYGON ((438998.690 4477404.510, 438998.460 4...",900.40,EQUIP
137761,449949.76,4472168.22,962,9824508VK4792D,1076,964,112,1966,1,0,...,0,0,0,71,0,0,29,"POLYGON ((449940.522 4472196.090, 449960.481 4...",962.29,EQUIP
137762,449885.49,4472188.30,9015,9824506VK4792D,4218,3434,413,1964,2,0,...,0,0,0,0,0,0,0,"POLYGON ((449938.992 4472197.496, 449940.522 4...",9015.49,IND
137763,439001.62,4477355.14,4164,9075501VK3797E,13218,1793,1456,2022,3,0,...,0,0,63,35,0,0,3,"POLYGON ((439034.670 4477332.064, 439030.110 4...",4163.61,EQUIP

In [73]:
# Agregaremos un valor numero a cada una de las categorias 

import numpy as np
import pandas as pd

def asignacion_codigo_categorias(data_in):
    data_out = {}
    for key, df in data_in.items():
        df = df.reset_index()
        usos = df['USO_AG'].unique()
        cod_usos = np.arange(len(usos))
        cod_map = pd.Series(cod_usos, index=usos)
        df['cod_usos_a'] = df['USO_AG'].map(cod_map)
        data_out[key] = df
    return data_out

In [74]:
uso_agregado_cat = asignacion_codigo_categorias(uso_agregado_g)

In [76]:
uso_agregado_cat["Madrid.shp"].cod_usos_a.unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [81]:
df_final = pd.DataFrame()
for key, value in uso_agregado_cat.items():
    temp = uso_agregado_gtp_cat[key] 
    temp_cat = temp.groupby('USO_AG')['Area'].sum()
    temp_area = temp.groupby('USO_AG')['Area'].sum().sum()
    temp_porcentaje = (temp_cat/temp_area)*100
    df_temp = temp_porcentaje.to_frame().rename(columns = {'Area':key})
    df_final = pd.concat([df_final,df_temp], axis = 1)

In [82]:
df_final

          Avila.shp  Madrid.shp  Malaga.shp  Murcia.shp  Sevilla.shp
USO_AG
COM            0.27        0.38        1.10        0.42         0.96
ED_SING        4.06        6.79        3.01        3.04         9.53
EQUIP         13.66       13.19       10.68        5.60        14.46
IND            9.48        6.67       10.81        9.07        15.35
OCIO           1.01        0.44        0.59        0.22         0.89
OFI            0.14        1.50        0.79        0.14         0.79
RES_PLU       11.08       15.03       12.49        6.72        15.73
RES_UNI       16.97        4.63       19.50       15.43         8.06
SIN_EDIF      43.34       51.16       41.02       57.11        34.23
OTROS           NaN        0.20         NaN        2.26          NaN

In [17]:
df_final.to_csv(r'C:/projectos/shapes/ciudades shape/uso_ciudades_agregado_completo.csv')

# Ahora vamos a crear una funcion para eliminar el otros de cada uno de los shapes de forma iterativa

In [83]:
dict_filter_otros = {}
for key, value in uso_agregado_cat.items():
    ciudad = uso_agregado_cat[key].copy()
    ciudad1 = ciudad[ciudad.loc[:,'USO_AG'] != "OTROS"].copy()
    dict_filter_otros[key] = ciudad1

In [84]:
len(dict_filter_otros)

5

In [85]:
df_otros = pd.DataFrame()
for key, value in dict_filter_otros.items():
    temp = dict_filter_otros[key] 
    temp_cat = temp.groupby('USO_AG')['Area'].sum()
    temp_area = temp.groupby('USO_AG')['Area'].sum().sum()
    temp_porcentaje = (temp_cat/temp_area)*100
    df_temp = temp_porcentaje.to_frame().rename(columns = {'Area':key})
    df_otros = pd.concat([df_otros,df_temp], axis = 1)

In [86]:
df_otros

          Avila.shp  Madrid.shp  Malaga.shp  Murcia.shp  Sevilla.shp
USO_AG
COM            0.27        0.38        1.10        0.43         0.96
ED_SING        4.06        6.81        3.01        3.11         9.53
EQUIP         13.66       13.22       10.68        5.73        14.46
IND            9.48        6.68       10.81        9.28        15.35
OCIO           1.01        0.44        0.59        0.23         0.89
OFI            0.14        1.50        0.79        0.14         0.79
RES_PLU       11.08       15.06       12.49        6.87        15.73
RES_UNI       16.97        4.64       19.50       15.78         8.06
SIN_EDIF      43.34       51.27       41.02       58.43        34.23

In [87]:
ciudad.columns

Index(['index', 'COORX', 'COORY', 'AREA', 'REFCAT', 'A_TOT_EDIF', 'SUP_ED_0',
       'SUP_ED_1', 'ANTIGUEDAD', 'N_PLANTAS', 'NUM_INM_R', 'USO', 'PROP_AE_AT',
       'RES_UNI', 'RES_PLU', 'IND', 'OFI', 'COM', 'EQUIP_SANI', 'EQUIP_EDU',
       'EQUIP_OTR', 'OCIO_ESP', 'HOS_REST', 'ED_SING', 'geometry', 'Area',
       'USO_AG', 'cod_usos_a'],
      dtype='object')

In [88]:
df_otros.to_csv(r'C:/projectos/shapes/ciudades shape/df_porcentajes_sin_otros.csv')

In [90]:
dict_filter = {}
for key, value in uso_agregado_cat.items():
    ciudad = uso_agregado_cat[key].copy()
    ciudad1 = ciudad[ciudad.loc[:,'USO_AG'] != "SIN_EDIF"].copy()
    ciudad2 = ciudad1[ciudad1.loc[:,'USO_AG'] != "OTROS"].copy()
    dict_filter[key] = ciudad2

In [91]:
 # Option 2

dict_filter1 = {}

for key, value in uso_agregado_cat.items():
    ciudad = uso_agregado_cat[key].copy()
    ciudad_filtered = ciudad.loc[(ciudad['USO_AG'] != "SIN_EDIF") & (ciudad['USO_AG'] != "OTROS"), :]
    dict_filter1[key] = ciudad_filtered

In [92]:
dict_filter['Madrid.shp'][dict_filter["Madrid.shp"].loc[:,'USO_AG'] == 'OTROS']

Empty GeoDataFrame
Columns: [index, COORX, COORY, AREA, REFCAT, A_TOT_EDIF, SUP_ED_0, SUP_ED_1, ANTIGUEDAD, N_PLANTAS, NUM_INM_R, USO, PROP_AE_AT, RES_UNI, RES_PLU, IND, OFI, COM, EQUIP_SANI, EQUIP_EDU, EQUIP_OTR, OCIO_ESP, HOS_REST, ED_SING, geometry, Area, USO_AG, cod_usos_a]
Index: []

[0 rows x 28 columns]

In [93]:
for keys, values in dict_filter.items():
    dict_filter[keys].to_file('C:/projectos/shapes/ciudades_shape_ag/'+ keys)

## Vamos a calcular los porcentajes nuevamente sin otros y sin edificar ##

In [55]:
df_final_filter = pd.DataFrame()
for key, value in dict_filter.items():
    temp = dict_filter[key] 
    temp_cat = temp.groupby('USO_AG')['Area'].sum()
    temp_area = temp.groupby('USO_AG')['Area'].sum().sum()
    temp_porcentaje = (temp_cat/temp_area)*100
    df_temp = temp_porcentaje.to_frame().rename(columns = {'Area':key})
    df_final_filter = pd.concat([df_final_filter,df_temp], axis = 1)

In [56]:
df_final_filter.to_csv('C:/projectos/shapes/ciudades shape/df_final_filter.csv')