In [2]:
import pandas as pd
import re 
import os

In [3]:
import os
print(os.getcwd())

c:\Users\crist\Documents\GitHub\manifolds\ciudades\datos\socioeconomicos

In [4]:
df_municipios = pd.read_excel('DatosMunicipales2020.xlsx', sheet_name=0, dtype ={"Código INE":str})

In [5]:
df_municipios.head(2)

,Código INE,Municipio,Provincia,Comunidad Autónoma,Población Total,Población Hombres,Población Mujeres,Unnamed: 7,Conductores Hombres,Conductoras Mujeres,...,Alcohol (6 puntos),Drogas (6 puntos),"Casco, Cinturón, SRI (3 puntos)",Móvil (3 puntos),Semáforo (4 puntos),Otra (3 puntos),Otra (4 puntos),Otra (6 puntos),Unnamed: 95,Campañas
0,01001,Alava ( municipio sin especificar),Araba/Álava,País Vasco,NaN,NaN,NaN,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,01002,Alegría-Dulantzi,Araba/Álava,País Vasco,2935.0,1531.0,1404.0,NaN,1038.0,818.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [6]:
df_municipios_small = df_municipios.iloc[:,0:2].reset_index()

In [7]:
df_municipios_small

      index Código INE                           Municipio
0         0      01001  Alava ( municipio sin especificar)
1         1      01002                    Alegría-Dulantzi
2         2      01003                             Amurrio
3         3      01004                             Aramaio
4         4      01006                          Artziniega
...     ...        ...                                 ...
8191   8191      50901                                Biel
8192   8192      50902                            Marracos
8193   8193      50903               Villamayor de Gállego
8194   8194      51001                               Ceuta
8195   8195      52001                             Melilla

[8196 rows x 3 columns]

In [158]:
df_ciudades = pd.read_csv("C:\projectos\manifolds\ciudades\datos\metricas\ciudades_division.csv")

In [8]:
df_ciudades.columns

NameError: name 'df_ciudades' is not defined

In [160]:
df_ciudades['ciudades'] = df_ciudades['index'].str.replace(r'\.txt$', '')
df_ciudades['ciudades'] = df_ciudades['ciudades'].str.replace('_', ' ')

C:\Users\crist\AppData\Local\Temp\ipykernel_23368\2696729365.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_ciudades['ciudades'] = df_ciudades['index'].str.replace(r'\.txt$', '')

In [161]:
df_ciudades['ciudades'] = df_ciudades['ciudades'].apply(lambda x: x.capitalize())

In [162]:
for cities in df_ciudades.ciudades:
    print(cities)

Albacete
Alcala
Alcobendas
Alcorcon
Algeciras
Alicante
Almeria
Avila
Badalona
Barcelona
Bodajoz
Burgos
Caceres
Cadiz
Cartagena
Castello
Ceuta
Ciudad real
Cordoba
Corunia
Cuenca
Dos hermanas
Elche
Fuentelabra
Getafe
Gijon
Girona
Granada
Guadalajara
Hospitalet
Huelva
Huesca
Jaen
Jerez
Las palmas
Leganes
Leon
Lleida
Logronio
Lugo
Madrid
Malaga
Marbella
Mataro
Melilla
Mostoles
Murcia
Ourense
Oviedo
Palencia
Palma
Parla
Pontevedra
Sabadell
Salamanca
Santander
Santa coloma
Santa cruz tenerife
San cristobal
Segovia
Sevilla
Soria
Terragona
Terrasa
Teruel
Toledo
Torrejon
Valencia
Valladolid
Vigo
Zamora
Zaragoza

In [163]:
rep = {'Avila':'Ávila','Alicante':'Alicante/Alacant','Alcorcon':'Alcorcón', 'Almeria':'Almería','Alcala':'Alcalá de Henares', 'Cadiz':'Cádiz','Caceres':'Cáceres', 'Cordoba':'Córdoba','Castello': 'Castelló de la Plana', 'Ciudad real':'Ciudad Real','Bodajoz':'Badajoz','Dos hermanas':'Dos Hermanas','Fuentelabra':'Fuenlabrada',
'Leganes':'Leganés','Logronio':'Logroño','Mataro':'Mataró','Mostoles':'Móstoles','Santa coloma':'Santa Coloma de Gramenet','Santa cruz tenerife':'Santa Cruz de Tenerife','Jaen':'Jaén','Jerez':'Jerez de la Frontera','Leon':'León','Malaga':'Málaga',
'San cristobal':'San Cristóbal de La Laguna','Terrasa':'Terrassa','Terragona':'Tarragona','Torrejon':'Torrejón de Ardoz','Corunia':'Coruña, A','Gijon':'Gijón',
'Palma':'Palma de Mallorca','Las palma':'Palmas de Gran Canaria, Las', 'Elche': 'Elche/Elx', 'Hospitalet':"Hospitalet de Llobregat, L'"}

In [164]:
def replace_cities(df, replacements):
    for city, replacement in replacements.items():
        df['ciudades'] = df['ciudades'].str.replace(city, replacement)
    return df

In [165]:
df = replace_cities(df_ciudades, rep)

In [166]:
df_ciudades['ciudades'] = df['ciudades'].str.replace('Palmas de Gran Canaria, Lass', 'Palmas de Gran Canaria, Las')

In [167]:
nombre_ciudades = df_ciudades.ciudades

In [168]:
print(len(nombre_ciudades))
for ciudades in nombre_ciudades:
    print(ciudades)

72
Albacete
Alcalá de Henares
Alcobendas
Alcorcón
Algeciras
Alicante/Alacant
Almería
Ávila
Badalona
Barcelona
Badajoz
Burgos
Cáceres
Cádiz
Cartagena
Castelló de la Plana
Ceuta
Ciudad Real
Córdoba
Coruña, A
Cuenca
Dos Hermanas
Elche/Elx
Fuenlabrada
Getafe
Gijón
Girona
Granada
Guadalajara
Hospitalet de Llobregat, L'
Huelva
Huesca
Jaén
Jerez de la Frontera
Palmas de Gran Canaria, Las
Leganés
León
Lleida
Logroño
Lugo
Madrid
Málaga
Marbella
Mataró
Melilla
Móstoles
Murcia
Ourense
Oviedo
Palencia
Palma de Mallorca
Parla
Pontevedra
Sabadell
Salamanca
Santander
Santa Coloma de Gramenet
Santa Cruz de Tenerife
San Cristóbal de La Laguna
Segovia
Sevilla
Soria
Tarragona
Terrassa
Teruel
Toledo
Torrejón de Ardoz
Valencia
Valladolid
Vigo
Zamora
Zaragoza

In [169]:
#buscar los nombres de ciudades en la columna "municipios"
nombre_dic = {}
saltar =  'municipio sin especificar'
for ciudad in nombre_ciudades:
    filtro_exacto = df_municipios['Municipio'] == ciudad
    filtro_relativo = df_municipios['Municipio'].str.contains(ciudad, regex=True)
    mun = df_municipios.loc[filtro, 'Municipio'].iloc[0]
    if filtro_exacto.any():
        temp = df_municipios.loc[filtro_exacto, 'Municipio'].iloc[0]
        if temp == None:
            nombre_dic[ciudad] = df_municipios.loc[filtro_relativo, 'Municipio'].iloc[0]
        else: 
            nombre_dic[ciudad] = temp
    else:
        # si no se encuentra ninguna coincidencia, agregar un valor nulo
        nombre_dic[ciudad] = None

In [170]:
nombre_ciudades

0              Albacete
1     Alcalá de Henares
2            Alcobendas
3              Alcorcón
4             Algeciras
            ...
67             Valencia
68           Valladolid
69                 Vigo
70               Zamora
71             Zaragoza
Name: ciudades, Length: 72, dtype: object

In [171]:
# buscar los nombres de ciudades en la columna "municipios"
nombre_dic = {}
saltar =  'municipio sin especificar'
for ciudad in nombre_ciudades:
    filtro_exacto = df_municipios['Municipio'] == ciudad
    filtro_relativo = df_municipios['Municipio'].str.contains(ciudad, regex=True)
    try:
        valor = df_municipios.loc[filtro_exacto, 'Municipio'].iloc[0]
        nombre_dic[ciudad] = valor
    except IndexError:
        mun = df_municipios.loc[filtro_relativo, 'Municipio'].iloc[0]
        if saltar in mun:
            pass # En este caso tendria que ser una funcion recursiva.
        else:
            nombre_dic[ciudad] = mun

In [172]:
len(nombre_dic)

72

In [173]:
nombre_dic

{'Albacete': 'Albacete',
 'Alcalá de Henares': 'Alcalá de Henares',
 'Alcobendas': 'Alcobendas',
 'Alcorcón': 'Alcorcón',
 'Algeciras': 'Algeciras',
 'Alicante/Alacant': 'Alicante/Alacant',
 'Almería': 'Almería',
 'Ávila': 'Ávila',
 'Badalona': 'Badalona',
 'Barcelona': 'Barcelona',
 'Badajoz': 'Badajoz',
 'Burgos': 'Burgos',
 'Cáceres': 'Cáceres',
 'Cádiz': 'Cádiz',
 'Cartagena': 'Cartagena',
 'Castelló de la Plana': 'Castelló de la Plana',
 'Ceuta': 'Ceuta',
 'Ciudad Real': 'Ciudad Real',
 'Córdoba': 'Córdoba',
 'Coruña, A': 'Coruña, A',
 'Cuenca': 'Cuenca',
 'Dos Hermanas': 'Dos Hermanas',
 'Elche/Elx': 'Elche/Elx',
 'Fuenlabrada': 'Fuenlabrada',
 'Getafe': 'Getafe',
 'Gijón': 'Gijón',
 'Girona': 'Girona',
 'Granada': 'Granada',
 'Guadalajara': 'Guadalajara',
 "Hospitalet de Llobregat, L'": "Hospitalet de Llobregat, L'",
 'Huelva': 'Huelva',
 'Huesca': 'Huesca',
 'Jaén': 'Jaén',
 'Jerez de la Frontera': 'Jerez de la Frontera',
 'Palmas de Gran Canaria, Las': 'Palmas de Gran Canaria, Las',
 'Leganés': 'Leganés',
 'León': 'León',
 'Lleida': 'Lleida',
 'Logroño': 'Logroño',
 'Lugo': 'Lugo',
 'Madrid': 'Madrid',
 'Málaga': 'Málaga',
 'Marbella': 'Marbella',
 'Mataró': 'Mataró',
 'Melilla': 'Melilla',
 'Móstoles': 'Móstoles',
 'Murcia': 'Murcia',
 'Ourense': 'Ourense',
 'Oviedo': 'Oviedo',
 'Palencia': 'Palencia',
 'Palma de Mallorca': 'Palma de Mallorca',
 'Parla': 'Parla',
 'Pontevedra': 'Pontevedra',
 'Sabadell': 'Sabadell',
 'Salamanca': 'Salamanca',
 'Santander': 'Santander',
 'Santa Coloma de Gramenet': 'Santa Coloma de Gramenet',
 'Santa Cruz de Tenerife': 'Santa Cruz de Tenerife',
 'San Cristóbal de La Laguna': 'San Cristóbal de La Laguna',
 'Segovia': 'Segovia',
 'Sevilla': 'Sevilla',
 'Soria': 'Soria',
 'Tarragona': 'Tarragona',
 'Terrassa': 'Terrassa',
 'Teruel': 'Teruel',
 'Toledo': 'Toledo',
 'Torrejón de Ardoz': 'Torrejón de Ardoz',
 'Valencia': 'Valencia',
 'Valladolid': 'Valladolid',
 'Vigo': 'Vigo',
 'Zamora': 'Zamora',
 'Zaragoza': 'Zaragoza'}

In [174]:
### Buscar los nombres de ciudades en la columna "municipios"
codigos_dic = {}
saltar =  'municipio sin especificar'
for ciudad in nombre_ciudades:
    filtro_exacto = df_municipios['Municipio'] == ciudad
    filtro_relativo = df_municipios['Municipio'].str.contains(ciudad, regex=True)
    try:
        print(f"intentamos con {ciudad}")
        valor = df_municipios.loc[filtro_exacto, 'Municipio'].iloc[0]
        print(f"Asignaremos el codigo de {valor}")
        codigos_dic[ciudad] = df_municipios.loc[filtro_exacto, 'Código INE'].iloc[0]
    except IndexError:
        mun = df_municipios.loc[filtro_relativo, 'Código INE'].iloc[0]
        nombre = df_municipios.loc[filtro_relativo, 'Municipio'].iloc[0]
        codigos_dic[ciudad] = mun
        print(f"asigneremos {mun} que corresponde a {nombre}, porque ha fallado {ciudad} en el try")

intentamos con Albacete
Asignaremos el codigo de Albacete
intentamos con Alcalá de Henares
Asignaremos el codigo de Alcalá de Henares
intentamos con Alcobendas
Asignaremos el codigo de Alcobendas
intentamos con Alcorcón
Asignaremos el codigo de Alcorcón
intentamos con Algeciras
Asignaremos el codigo de Algeciras
intentamos con Alicante/Alacant
Asignaremos el codigo de Alicante/Alacant
intentamos con Almería
Asignaremos el codigo de Almería
intentamos con Ávila
Asignaremos el codigo de Ávila
intentamos con Badalona
Asignaremos el codigo de Badalona
intentamos con Barcelona
Asignaremos el codigo de Barcelona
intentamos con Badajoz
Asignaremos el codigo de Badajoz
intentamos con Burgos
Asignaremos el codigo de Burgos
intentamos con Cáceres
Asignaremos el codigo de Cáceres
intentamos con Cádiz
Asignaremos el codigo de Cádiz
intentamos con Cartagena
Asignaremos el codigo de Cartagena
intentamos con Castelló de la Plana
Asignaremos el codigo de Castelló de la Plana
intentamos con Ceuta
Asignaremos el codigo de Ceuta
intentamos con Ciudad Real
Asignaremos el codigo de Ciudad Real
intentamos con Córdoba
Asignaremos el codigo de Córdoba
intentamos con Coruña, A
Asignaremos el codigo de Coruña, A
intentamos con Cuenca
Asignaremos el codigo de Cuenca
intentamos con Dos Hermanas
Asignaremos el codigo de Dos Hermanas
intentamos con Elche/Elx
Asignaremos el codigo de Elche/Elx
intentamos con Fuenlabrada
Asignaremos el codigo de Fuenlabrada
intentamos con Getafe
Asignaremos el codigo de Getafe
intentamos con Gijón
Asignaremos el codigo de Gijón
intentamos con Girona
Asignaremos el codigo de Girona
intentamos con Granada
Asignaremos el codigo de Granada
intentamos con Guadalajara
Asignaremos el codigo de Guadalajara
intentamos con Hospitalet de Llobregat, L'
Asignaremos el codigo de Hospitalet de Llobregat, L'
intentamos con Huelva
Asignaremos el codigo de Huelva
intentamos con Huesca
Asignaremos el codigo de Huesca
intentamos con Jaén
Asignaremos el codigo de Jaén
intentamos con Jerez de la Frontera
Asignaremos el codigo de Jerez de la Frontera
intentamos con Palmas de Gran Canaria, Las
Asignaremos el codigo de Palmas de Gran Canaria, Las
intentamos con Leganés
Asignaremos el codigo de Leganés
intentamos con León
Asignaremos el codigo de León
intentamos con Lleida
Asignaremos el codigo de Lleida
intentamos con Logroño
Asignaremos el codigo de Logroño
intentamos con Lugo
Asignaremos el codigo de Lugo
intentamos con Madrid
Asignaremos el codigo de Madrid
intentamos con Málaga
Asignaremos el codigo de Málaga
intentamos con Marbella
Asignaremos el codigo de Marbella
intentamos con Mataró
Asignaremos el codigo de Mataró
intentamos con Melilla
Asignaremos el codigo de Melilla
intentamos con Móstoles
Asignaremos el codigo de Móstoles
intentamos con Murcia
Asignaremos el codigo de Murcia
intentamos con Ourense
Asignaremos el codigo de Ourense
intentamos con Oviedo
Asignaremos el codigo de Oviedo
intentamos con Palencia
Asignaremos el codigo de Palencia
intentamos con Palma de Mallorca
Asignaremos el codigo de Palma de Mallorca
intentamos con Parla
Asignaremos el codigo de Parla
intentamos con Pontevedra
Asignaremos el codigo de Pontevedra
intentamos con Sabadell
Asignaremos el codigo de Sabadell
intentamos con Salamanca
Asignaremos el codigo de Salamanca
intentamos con Santander
Asignaremos el codigo de Santander
intentamos con Santa Coloma de Gramenet
Asignaremos el codigo de Santa Coloma de Gramenet
intentamos con Santa Cruz de Tenerife
Asignaremos el codigo de Santa Cruz de Tenerife
intentamos con San Cristóbal de La Laguna
Asignaremos el codigo de San Cristóbal de La Laguna
intentamos con Segovia
Asignaremos el codigo de Segovia
intentamos con Sevilla
Asignaremos el codigo de Sevilla
intentamos con Soria
Asignaremos el codigo de Soria
intentamos con Tarragona
Asignaremos el codigo de Tarragona
intentamos con Terrassa
Asignaremos el codigo de Terrassa
intentamos con Teruel
Asignaremos el codigo de Teruel
intentamos con Toledo
Asignaremos el codigo de Toledo
intentamos con Torrejón de Ardoz
Asignaremos el codigo de Torrejón de Ardoz
intentamos con Valencia
Asignaremos el codigo de Valencia
intentamos con Valladolid
Asignaremos el codigo de Valladolid
intentamos con Vigo
Asignaremos el codigo de Vigo
intentamos con Zamora
Asignaremos el codigo de Zamora
intentamos con Zaragoza
Asignaremos el codigo de Zaragoza

In [175]:
len(codigos_dic)

72

In [176]:
codigos_dic

{'Albacete': '02005',
 'Alcalá de Henares': '28039',
 'Alcobendas': '28040',
 'Alcorcón': '28041',
 'Algeciras': '11021',
 'Alicante/Alacant': '03017',
 'Almería': '04017',
 'Ávila': '05025',
 'Badalona': '08029',
 'Barcelona': '08033',
 'Badajoz': '06021',
 'Burgos': '09075',
 'Cáceres': '10053',
 'Cádiz': '11029',
 'Cartagena': '31007',
 'Castelló de la Plana': '12060',
 'Ceuta': '51001',
 'Ciudad Real': '13053',
 'Córdoba': '14041',
 'Coruña, A': '15051',
 'Cuenca': '16102',
 'Dos Hermanas': '41094',
 'Elche/Elx': '03068',
 'Fuenlabrada': '28094',
 'Getafe': '28102',
 'Gijón': '33063',
 'Girona': '17102',
 'Granada': '18117',
 'Guadalajara': '19162',
 "Hospitalet de Llobregat, L'": '08115',
 'Huelva': '21068',
 'Huesca': '22167',
 'Jaén': '23081',
 'Jerez de la Frontera': '11037',
 'Palmas de Gran Canaria, Las': '36025',
 'Leganés': '28113',
 'León': '24120',
 'Lleida': '25153',
 'Logroño': '26124',
 'Lugo': '27062',
 'Madrid': '28117',
 'Málaga': '29903',
 'Marbella': '30001',
 'Mataró': '08135',
 'Melilla': '52001',
 'Móstoles': '28129',
 'Murcia': '31021',
 'Ourense': '32092',
 'Oviedo': '34006',
 'Palencia': '34171',
 'Palma de Mallorca': '07047',
 'Parla': '28141',
 'Pontevedra': '37022',
 'Sabadell': '08201',
 'Salamanca': '37324',
 'Santander': '40030',
 'Santa Coloma de Gramenet': '08259',
 'Santa Cruz de Tenerife': '39033',
 'San Cristóbal de La Laguna': '39018',
 'Segovia': '41015',
 'Sevilla': '42044',
 'Soria': '43018',
 'Tarragona': '44022',
 'Terrassa': '08293',
 'Teruel': '45014',
 'Toledo': '46023',
 'Torrejón de Ardoz': '28182',
 'Valencia': '47045',
 'Valladolid': '48018',
 'Vigo': '37041',
 'Zamora': '50065',
 'Zaragoza': '50297'}

In [177]:

codigos_INE = pd.DataFrame(codigos_dic, index = [0])

In [178]:
codigos_INE.to_csv('codigos_INE.csv', encoding = "ISO-8859-1")

In [179]:
codigos_INE_long = codigos_INE.melt(value_vars= codigos_INE.columns, var_name = "Ciudad", value_name = 'COD')

In [180]:
codigos_INE_long.to_csv('C:\projectos\manifolds\ciudades\datos\socioeconomicos\codigos_INE_long_final.csv', encoding = 'ISO-8859-1')

## Ahora a partir del código INE

### Vamos a cargar los codigos INE desde el archivo generado

In [191]:
codigos_INE_long = pd.read_csv("codigos_INE_long_final.csv", encoding = 'ISO-8859-1', dtype ={"COD":str})

In [192]:
codigos_INE_long

    Unnamed: 0             Ciudad    COD
0            0           Albacete  02005
1            1  Alcalá de Henares  28039
2            2         Alcobendas  28040
3            3           Alcorcón  28041
4            4          Algeciras  11021
..         ...                ...    ...
67          67           Valencia  47045
68          68         Valladolid  48018
69          69               Vigo  37041
70          70             Zamora  50065
71          71           Zaragoza  50297

[72 rows x 3 columns]

In [193]:
codigos_INE_long.dtypes

Unnamed: 0     int64
Ciudad        object
COD           object
dtype: object

In [194]:
rows_to_filter = codigos_INE_long.COD
rows_to_filter

0     02005
1     28039
2     28040
3     28041
4     11021
      ...
67    47045
68    48018
69    37041
70    50065
71    50297
Name: COD, Length: 72, dtype: object

In [195]:
rows_to_filter1 = codigos_INE_long.Ciudad
rows_to_filter1

0              Albacete
1     Alcalá de Henares
2            Alcobendas
3              Alcorcón
4             Algeciras
            ...
67             Valencia
68           Valladolid
69                 Vigo
70               Zamora
71             Zaragoza
Name: Ciudad, Length: 72, dtype: object

In [196]:
df_municipios = df_municipios.set_index('Código INE')

KeyError: "None of ['Código INE'] are in the columns"

In [197]:
filtered_df = df_municipios.loc[df_municipios.index.isin(rows_to_filter)]

In [198]:
rows_to_filter

0     02005
1     28039
2     28040
3     28041
4     11021
      ...
67    47045
68    48018
69    37041
70    50065
71    50297
Name: COD, Length: 72, dtype: object

In [199]:
len(filtered_df.Municipio)

75

In [205]:
filtered_df.to_csv('C:\projectos\manifolds\ciudades\datos\socioeconomicos\datos_municipios_filtered_Cod.csv', encoding = 'ISO-8859-1')

In [200]:
filter_municipios = df_municipios.loc[df_municipios.Municipio.isin(rows_to_filter1)]

In [201]:
filter_municipios.head(2)

,Municipio,Provincia,Comunidad Autónoma,Población Total,Población Hombres,Población Mujeres,Unnamed: 7,Conductores Hombres,Conductoras Mujeres,Censo Conductores,...,Alcohol (6 puntos),Drogas (6 puntos),"Casco, Cinturón, SRI (3 puntos)",Móvil (3 puntos),Semáforo (4 puntos),Otra (3 puntos),Otra (4 puntos),Otra (6 puntos),Unnamed: 95,Campañas
Código INE,,,,,,,,,,,,,,,,,,,,,
02005,Albacete,Albacete,Castilla-La Mancha,174336.0,85214.0,89122.0,NaN,59160.0,45441.0,104601.0,...,58.0,NaN,302.0,NaN,94.0,337.0,46.0,33.0,NaN,0.0
03017,Alicante/Alacant,Alicante/Alacant,Comunitat Valenciana,337482.0,163385.0,174097.0,NaN,104997.0,80448.0,185445.0,...,109.0,NaN,295.0,1.0,254.0,27.0,120.0,180.0,NaN,0.0

In [202]:
len(filter_municipios.Municipio)

72

In [204]:
filter_municipios.to_csv('C:\projectos\manifolds\ciudades\datos\socioeconomicos\datos_municipios_filtered_ciudad.csv', encoding = 'ISO-8859-1')

# Ahora vamos a leer la base de datos 10mund00.xls

In [221]:
codigos_INE_long = pd.read_csv("codigos_INE_long_final.csv", encoding = 'ISO-8859-1', dtype ={"COD":str})

In [222]:
codigos_INE_long.dtypes

Unnamed: 0     int64
Ciudad        object
COD           object
dtype: object

In [224]:
rows_to_filter = codigos_INE_long.COD
rows_to_filter

0     02005
1     28039
2     28040
3     28041
4     11021
      ...
67    47045
68    48018
69    37041
70    50065
71    50297
Name: COD, Length: 72, dtype: object

In [225]:
rows_to_filter1 = codigos_INE_long.Ciudad
rows_to_filter1

0              Albacete
1     Alcalá de Henares
2            Alcobendas
3              Alcorcón
4             Algeciras
            ...
67             Valencia
68           Valladolid
69                 Vigo
70               Zamora
71             Zaragoza
Name: Ciudad, Length: 72, dtype: object

In [226]:
population_csv = pd.read_csv("10mun00_nuevo.csv", encoding = 'utf-8')

In [227]:
population_csv

,,1 Total viviendas (2+3),2.1 Total viviendas principales (2.11+2.12),2.21 Viviendas secundarias,2.22 Viviendas vacias,3 Total viviendas colectivas
0,27001 Abadín,"1,655",984,294,377,0
1,48001 Abadiño,"2,979","2,695",137,146,1
2,30001 Abanilla,"4,341","2,519",576,"1,243",3
3,48002 Abanto y Ciérvana-Abanto Zierbena,"4,439","3,932",143,363,1
4,30002 Abarán,"6,619","4,654",744,"1,220",1
...,...,...,...,...,...,...
2303,01063 Zuia,"1,152",899,143,108,2
2304,18194 Zújar,"1,663","1,097",379,187,0
2305,20081 Zumaia,"4,449","3,550",466,430,2
2306,20080 Zumarraga,"4,570","4,295",36,234,6
2307,04103 Zurgena,"1,917","1,273",344,300,0

In [228]:
population_csv.columns = ['COD_CIUDAD', 'Total viviendas', 'Total viviendas principales', 'Viviendas secundarias', 'Viviendas vacias', 'Total viviendas colectivas']

In [229]:
population_csv.columns

Index(['COD_CIUDAD', 'Total viviendas', 'Total viviendas principales',
       'Viviendas secundarias', 'Viviendas vacias',
       'Total viviendas colectivas'],
      dtype='object')

In [230]:
population_csv.head(4)

,COD_CIUDAD,Total viviendas,Total viviendas principales,Viviendas secundarias,Viviendas vacias,Total viviendas colectivas
0,27001 Abadín,"1,655",984,294,377,0
1,48001 Abadiño,"2,979","2,695",137,146,1
2,30001 Abanilla,"4,341","2,519",576,"1,243",3
3,48002 Abanto y Ciérvana-Abanto Zierbena,"4,439","3,932",143,363,1

In [231]:
population_csv[['COD','Ciudad']] = population_csv['COD_CIUDAD'].str.split(" ",1, expand=True)

C:\Users\crist\AppData\Local\Temp\ipykernel_23368\919357242.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  population_csv[['COD','Ciudad']] = population_csv['COD_CIUDAD'].str.split(" ",1, expand=True)

In [232]:
population_csv = population_csv.drop(columns = ["COD_CIUDAD"])

In [233]:
population_csv.dtypes

Total viviendas                object
Total viviendas principales    object
Viviendas secundarias          object
Viviendas vacias               object
Total viviendas colectivas      int64
COD                            object
Ciudad                         object
dtype: object

In [214]:
type(rows_to_filter)

pandas.core.series.Series

In [234]:
population_indcod = population_csv.set_index('COD')

In [235]:
population_csv.head(4)

,Total viviendas,Total viviendas principales,Viviendas secundarias,Viviendas vacias,Total viviendas colectivas,COD,Ciudad
0,"1,655",984,294,377,0,27001,Abadín
1,"2,979","2,695",137,146,1,48001,Abadiño
2,"4,341","2,519",576,"1,243",3,30001,Abanilla
3,"4,439","3,932",143,363,1,48002,Abanto y Ciérvana-Abanto Zierbena

In [236]:
filtered_population_indcod = population_indcod.loc[population_indcod.index.isin(rows_to_filter)]

In [237]:
len(filtered_population_indcod.Ciudad)

27

In [239]:
population_ind = population_csv.set_index('Ciudad')

In [240]:
population_ind

,Total viviendas,Total viviendas principales,Viviendas secundarias,Viviendas vacias,Total viviendas colectivas,COD
Ciudad,,,,,,
Abadín,"1,655",984,294,377,0,27001
Abadiño,"2,979","2,695",137,146,1,48001
Abanilla,"4,341","2,519",576,"1,243",3,30001
Abanto y Ciérvana-Abanto Zierbena,"4,439","3,932",143,363,1,48002
Abarán,"6,619","4,654",744,"1,220",1,30002
...,...,...,...,...,...,...
Zuia,"1,152",899,143,108,2,01063
Zújar,"1,663","1,097",379,187,0,18194
Zumaia,"4,449","3,550",466,430,2,20081
Zumarraga,"4,570","4,295",36,234,6,20080
Zurgena,"1,917","1,273",344,300,0,04103

In [241]:
pop_filtered_city = population_ind.loc[population_ind.index.isin(rows_to_filter1)]

In [242]:
mask = population_csv['Ciudad'].str.contains('|'.join(rows_to_filter1))

In [243]:
# Filtrar el DataFrame original usando la Serie booleana como índice
filtered_pop_mask = population_csv[mask]

In [244]:
filtered_pop_mask.to_csv('fil_poblacion_censo_2011_ciudad_iso.csv', encoding = 'ISO-8859-1')

In [245]:

fil = filtered_pop_mask['Ciudad'].str.contains("Jerez", regex=True)
 
filtered_pop_mask[fil]

,Total viviendas,Total viviendas principales,Viviendas secundarias,Viviendas vacias,Total viviendas colectivas,COD,Ciudad
1034,"92,037","77,378","4,424","10,213",23,11020,Jerez de la Frontera

# Datos GDP

In [5]:
df = pd.read_excel('./renta provincias/30656.xls', sheet_name=0, skiprows = 7)

In [6]:
df.columns = ("COD Ciudad","Renta neta media por persona")

In [20]:
codigos_INE_long = pd.read_csv("codigos_INE_long_final.csv", encoding = 'ISO-8859-1', dtype ={"COD":str})

In [21]:
rows_to_filter = codigos_INE_long.COD
rows_to_filter

0     02005
1     28039
2     28040
3     28041
4     11021
      ...
67    47045
68    48018
69    37041
70    50065
71    50297
Name: COD, Length: 72, dtype: object

In [23]:
rows_to_filter1 = codigos_INE_long.Ciudad
rows_to_filter1

0              Albacete
1     Alcalá de Henares
2            Alcobendas
3              Alcorcón
4             Algeciras
            ...
67             Valencia
68           Valladolid
69                 Vigo
70               Zamora
71             Zaragoza
Name: Ciudad, Length: 72, dtype: object

In [24]:
patron = r'^(\d+)([^\d]+)(\d+)$'

In [25]:
patron1 = r'^(\d+)([^\d]+)'

In [26]:
df1 = df

In [27]:
# Aplicar la función extract para crear las nuevas columnas
df[["COD","CIUDAD"]] = df['COD Ciudad'].str.extract(patron1)

In [28]:
df.head(10)

,COD Ciudad,Renta neta media por persona,COD,CIUDAD
0,02001 Abengibre,11675,02001,Abengibre
1,0200101 Abengibre distrito 01,11675,0200101,Abengibre distrito
2,0200101001 Abengibre sección 01001,11675,0200101001,Abengibre sección
3,02002 Alatoz,9866,02002,Alatoz
4,0200201 Alatoz distrito 01,9866,0200201,Alatoz distrito
5,0200201001 Alatoz sección 01001,9866,0200201001,Alatoz sección
6,02003 Albacete,12529,02003,Albacete
7,0200301 Albacete distrito 01,14260,0200301,Albacete distrito
8,0200301001 Albacete sección 01001,18111,0200301001,Albacete sección
9,0200301002 Albacete sección 01002,16631,0200301002,Albacete sección

In [29]:
inv = pd.read_excel('./renta provincias/30953.xls', sheet_name=0, skiprows = 7)

In [30]:
inv.columns = ("COD Ciudad","Renta neta media por persona 2020")

In [31]:
inv.dtypes

COD Ciudad                           object
Renta neta media por persona 2020    object
dtype: object

In [32]:
inv[["COD","CIUDAD"]] = inv['COD Ciudad'].str.extract(patron1)

In [33]:
inv.head(2)

,COD Ciudad,Renta neta media por persona 2020,COD,CIUDAD
0,39001 Alfoz de Lloredo,11589,39001,Alfoz de Lloredo
1,39002 Ampuero,11220,39002,Ampuero

# Ahora tenemos que filtrar

In [34]:
inv_index = inv.set_index("COD")

In [35]:
rows_to_filter

0     02005
1     28039
2     28040
3     28041
4     11021
      ...
67    47045
68    48018
69    37041
70    50065
71    50297
Name: COD, Length: 72, dtype: object

In [36]:
inv_index.loc[inv_index.index.isin(rows_to_filter)]

            COD Ciudad Renta neta media por persona 2020      CIUDAD
COD
39018     39018 Cartes                             10998      Cartes
39033  39033 Herrerías                             11812   Herrerías

In [46]:
mask_inv = inv['CIUDAD'].str.contains('|'.join(rows_to_filter1)).dropna()

In [47]:
mask_inv.isna().sum()

0

In [51]:
inv = inv.dropna()

In [52]:
inv[mask_inv]

         COD Ciudad Renta neta media por persona 2020    COD      CIUDAD
74  39075 Santander                             14202  39075   Santander

Ahora debemos hacer una funcion que pueda iterar por todos los archivos de la carpeta buscar el codigo y guardar la coincidencia para constuir un dataframe con los datos.

In [56]:
import pandas as pd
import geopandas as gpd
import os
import glob
import os
import string

In [57]:
path =(r"C:/projectos/manifolds/ciudades/datos/socioeconomicos/renta provincias")
# Change the directory
os.chdir(path)

In [258]:
dict_excel = {}

# Iterate over all the files in the directory
for file in os.listdir():
    if file.endswith('.xls'):
            temp = pd.read_excel(file, sheet_name = 0)
            temp = temp.iloc[:,0:2].dropna()
            #nom_columnas = (temp.columns)
            temp.columns = ("COD Ciudad","Renta neta media por persona 2020")
            patron1 = r'^(\d+)([^\d]+)'
            temp[["COD","CIUDAD"]] = temp['COD Ciudad'].str.extract(patron1)
            temp = temp.dropna()
            df_temp = pd.DataFrame(temp)
            dict_excel[file] = df_temp

In [288]:
dict_exacto = {}
df_temp = pd.DataFrame()
for key, value in dict_excel.items():
    t = dict_excel[key]
    #t1 = t.set_index('CIUDAD')
    #t2 = t1.loc[t1.index.isin(rows_to_filter1)]
    t1 =  t['CIUDAD'].str.contains('|'.join(rows_to_filter1)).dropna()
    #t1 =  t['CIUDAD'].str.match('|'.join(rows_to_filter1)).dropna()
    final = t[t1]
    df_final = pd.DataFrame(final)
    df_temp = pd.concat([df_temp,df_final], axis = 0)
    dict_exacto[key] = df_final

In [289]:
df_temp

,COD Ciudad,Renta neta media por persona 2020,COD,CIUDAD
81,39075 Santander,14202,39075,Santander
42,12040 Castelló de la Plana,12785,12040,Castelló de la Plana
40,13034 Ciudad Real,13580,13034,Ciudad Real
27,14021 Córdoba,11791,14021,Córdoba
46,14040 Montalbán de Córdoba,9408,14040,Montalbán de Córdoba
...,...,...,...,...
187,47186 Valladolid,14247,47186,Valladolid
99,49103 Madridanos,10446,49103,Madridanos
254,49275 Zamora,12884,49275,Zamora
7,51001 Ceuta,12358,51001,Ceuta
7,52001 Melilla,11665,52001,Melilla

In [291]:
mask = df_temp['CIUDAD'].str.contains('sección|distrito', regex=True)
df = df_temp[~mask]

In [300]:
#df_temp.to_csv('GDP.csv', encoding = "ISO-8859-1")

In [292]:
df.to_csv('GDP_final.csv', encoding = "ISO-8859-1")

In [293]:
path1 =(r"C:/projectos/manifolds/ciudades/datos/socioeconomicos/renta provincias/formato distinto")
# Change the directory
os.chdir(path1)

In [294]:
dict_excel1 = {}

# Iterate over all the files in the directory
for file in os.listdir():
    if file.endswith('.xls'):
            temp = pd.read_excel(file, sheet_name = 0)
            temp = temp.iloc[:,0:2].dropna()
            #nom_columnas = (temp.columns)
            temp.columns = ("COD Ciudad","Renta neta media por persona 2020")
            patron1 = r'^(\d+)([^\d]+)'
            temp[["COD","CIUDAD"]] = temp['COD Ciudad'].str.extract(patron1)
            temp = temp.dropna()
            df_temp = pd.DataFrame(temp)
            dict_excel1[file] = df_temp

In [297]:
dict_exacto1 = {}
df_temp1 = pd.DataFrame()
for key, value in dict_excel1.items():
    t = dict_excel1[key]
    #t1 = t.set_index('CIUDAD')
    #t2 = t1.loc[t1.index.isin(rows_to_filter1)]
    t1 =  t['CIUDAD'].str.contains('|'.join(rows_to_filter1)).dropna()
    #t1 =  t['CIUDAD'].str.match('|'.join(rows_to_filter1)).dropna()
    final1 = t[t1]
    df_final1 = pd.DataFrame(final1)
    df_temp1 = pd.concat([df_temp1,df_final1], axis = 0)
    dict_exacto1[key] = df_final1

In [301]:
mask1 = df_temp1['CIUDAD'].str.contains('sección|distrito', regex=True)
df1 = df_temp1[~mask1]

In [302]:
df1.to_csv('GDP_formato_distinto.csv', encoding = 'ISO-8859-1')

In [122]:
dict_excel['30935.xls']

,COD Ciudad,Renta neta media por persona 2020,COD,CIUDAD
131,10037 Cáceres,12815,10037,Cáceres
132,1003701 Cáceres distrito 01,11036,1003701,Cáceres distrito
133,1003701001 Cáceres sección 01001,12322,1003701001,Cáceres sección
134,1003701002 Cáceres sección 01002,11279,1003701002,Cáceres sección
135,1003701003 Cáceres sección 01003,13800,1003701003,Cáceres sección
...,...,...,...,...
846,1020302 Valencia de Alcántara distrito 02,9484,1020302,Valencia de Alcántara distrito
847,1020302001 Valencia de Alcántara sección 02001,9646,1020302001,Valencia de Alcántara sección
848,1020302002 Valencia de Alcántara sección 02002,9371,1020302002,Valencia de Alcántara sección
849,1020303 Valencia de Alcántara distrito 03,9188,1020303,Valencia de Alcántara distrito
850,1020303001 Valencia de Alcántara sección 03001,9188,1020303001,Valencia de Alcántara sección

In [110]:
for key, values in dict_excel.items():
    s = dict_excel[key].shape
    print(f'archivo {key} tiene las siguientes columnas {dict_excel[key]}, y {s}')

archivo 30656.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30833.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30842.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30860.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30869.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30878.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30887.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30896.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30926.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30935.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30944 (1).xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30953.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30962.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30971.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30980.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30989.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 30998.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31016.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31025.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31034.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31043.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31052.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31061.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31070.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31079.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31088.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31097.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31106.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31115.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31133.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31142.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31151.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31160.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31169.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31178.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31187.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31196.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31205.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31214.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31223.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31232.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31241.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31250.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31259.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31268.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31286.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)
archivo 31295.xls tiene las siguientes columnas Index(['Resultados por municipios, distritos y secciones censales', 'Unnamed: 1'], dtype='object'), y (2,)

In [86]:
a = dict_excel['30953.xls']

In [88]:
a.columns = ("COD Ciudad","Renta neta media por persona 2020")

In [89]:
a

                    COD Ciudad Renta neta media por persona 2020
5                                  Renta neta media por persona
6                                                           2020
7       39001 Alfoz de Lloredo                             11589
8                39002 Ampuero                             11220
9                39003 Anievas                             11981
..                         ...                               ...
104        39098 Villacarriedo                             11453
105          39099 Villaescusa                             12948
106           39100 Villafufre                             11100
107  39101 Valle de Villaverde                             10100
108                 39102 Voto                             11711

[104 rows x 2 columns]

In [90]:
patron1 = r'^(\d+)([^\d]+)'

In [91]:
a[["COD","CIUDAD"]] = a['COD Ciudad'].str.extract(patron1)

In [91]:
a[["COD","CIUDAD"]] = a['COD Ciudad'].str.extract(patron1)

In [93]:
a.dropna()

,COD Ciudad,Renta neta media por persona 2020,COD,CIUDAD
7,39001 Alfoz de Lloredo,11589,39001,Alfoz de Lloredo
8,39002 Ampuero,11220,39002,Ampuero
9,39003 Anievas,11981,39003,Anievas
10,39004 Arenas de Iguña,11859,39004,Arenas de Iguña
11,39005 Argoños,12520,39005,Argoños
...,...,...,...,...
104,39098 Villacarriedo,11453,39098,Villacarriedo
105,39099 Villaescusa,12948,39099,Villaescusa
106,39100 Villafufre,11100,39100,Villafufre
107,39101 Valle de Villaverde,10100,39101,Valle de Villaverde
108,39102 Voto,11711,39102,Voto

# Revision despues de juntar los datos en un solo archivo

In [145]:
datos = pd.read_csv('C:\projectos\streamlit\metricas\ciudades_paisaje_filter_metricas.csv', encoding = 'ISO-8859-1')

In [146]:
datos.columns

Index(['Unnamed: 0', 'Ciudad', 'SIDI', 'MSIDI', 'SHEI', 'SIEI', 'MSIEI', 'NP',
       'DIVISION', 'SPLIT', 'MESH', 'variable', 'COM', 'ED_SING', 'EQUIP',
       'IND', 'OCIO', 'OFI', 'RES_PLU', 'RES_UNI', 'PAFRAC', 'SHAPE_MN',
       'SHAPE_MD', 'PARA_MN', 'PARA_MD', 'FRAC_MN', 'FRAC_MD', 'SQUARE_MN',
       'SQUARE_MD', 'TA', 'LPI', 'AREA_MN', 'AREA_AM', 'AREA_MD', 'GYRATE_MN',
       'GYRATE_AM', 'GYRATE_MD'],
      dtype='object')

In [ ]:
['Ciudad', 'SIDI', 'MSIDI', 'SHEI', 'SIEI', 'MSIEI', 'NP',
       'DIVISION', 'SPLIT', 'MESH', 'variable', 'COM', 'ED_SING', 'EQUIP',
       'IND', 'OCIO', 'OFI', 'RES_PLU', 'RES_UNI', 'PAFRAC', 'SHAPE_MN',
       'SHAPE_MD', 'PARA_MN', 'PARA_MD', 'FRAC_MN', 'FRAC_MD', 'SQUARE_MN',
       'SQUARE_MD', 'TA', 'LPI', 'AREA_MN', 'AREA_AM', 'AREA_MD', 'GYRATE_MN',
       'GYRATE_AM', 'GYRATE_MD']

## Vamos a realizar ##