In [117]:
import pandas as pd

In [118]:
forma = pd.read_csv("C:/projectos/manifolds/ciudades/datos/metricas/ciudades_forma.csv")

In [119]:
forma.columns

Index(['Ciudades', 'PAFRAC', 'SHAPE_MN', 'SHAPE_MD', 'PARA_MN', 'PARA_MD',
       'FRAC_MN', 'FRAC_MD', 'SQUARE_MN', 'SQUARE_MD'],
      dtype='object')

In [120]:
forma['Ciudad'] = forma['Ciudades'].str.replace('_', ' ')
forma['Ciudad'] = forma['Ciudad'].str.replace(r'\.txt$', '')
forma['Ciudad'] = forma['Ciudad'].apply(lambda x: x.capitalize())

C:\Users\crist\AppData\Local\Temp\ipykernel_23728\32696972.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  forma['Ciudad'] = forma['Ciudad'].str.replace(r'\.txt$', '')

In [121]:
area = pd.read_csv("C:/projectos/manifolds/ciudades/datos/metricas/ciudades_area.csv")

In [122]:
area['Ciudad'] = area['Ciudades'].str.replace('_', ' ')
area['Ciudad'] = area['Ciudad'].str.replace(r'\.txt$', '')
area['Ciudad'] = area['Ciudad'].apply(lambda x: x.capitalize())

C:\Users\crist\AppData\Local\Temp\ipykernel_23728\2630718424.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  area['Ciudad'] = area['Ciudad'].str.replace(r'\.txt$', '')

In [123]:
area

,Ciudades,TA,LPI,AREA_MN,AREA_AM,AREA_MD,GYRATE_MN,GYRATE_AM,GYRATE_MD,Ciudad
0,Albacete.txt,1605.293355,2.929497,0.116461,2.976411,0.031520,8.380829,36.057566,5.710261,Albacete
1,Alcala.txt,1615.304126,2.451039,0.136451,4.559123,0.019854,7.591469,55.583827,4.874116,Alcala
2,Alcobendas.txt,1386.626321,2.882984,0.289423,3.843857,0.069676,12.998986,45.886723,9.320043,Alcobendas
3,Alcorcon.txt,787.044792,3.295528,0.161214,3.023467,0.028205,9.644223,43.879007,6.077800,Alcorcon
4,Algeciras.txt,1063.319019,2.044908,0.063300,2.629819,0.013341,5.460983,38.065313,3.687046,Algeciras
...,...,...,...,...,...,...,...,...,...,...
67,Valencia.txt,2164.215491,2.515410,0.065111,4.506163,0.024895,6.216411,38.408851,4.992987,Valencia
68,Valladolid.txt,2764.692882,2.285334,0.170702,9.992102,0.028855,8.463257,74.230483,5.392190,Valladolid
69,Vigo.txt,2673.672921,4.253406,0.076896,7.653004,0.037150,7.448687,40.795189,6.359690,Vigo
70,Zamora.txt,551.778808,9.977708,0.075195,6.638329,0.018018,6.080244,52.258509,4.223122,Zamora
71,Zaragoza.txt,4188.643450,1.576180,0.148265,6.420273,0.028926,8.365215,65.532054,5.374877,Zaragoza

In [124]:
for cid in area.Ciudad:
    print(cid)

Albacete
Alcala
Alcobendas
Alcorcon
Algeciras
Alicante
Almeria
Avila
Badajoz
Badalona
Barcelona
Burgos
Caceres
Cadiz
Cartagena
Castello
Ceuta
Ciudad real
Cordoba
Corunia
Cuenca
Dos hermanas
Elche
Fuentelabra
Getafe
Gijon
Girona
Granada
Guadalajara
Hospitalet
Huelva
Huesca
Jaen
Jerez
Las palmas
Leganes
Leon
Lleida
Logronio
Lugo
Madrid
Malaga
Marbella
Mataro
Melilla
Mostoles
Murcia
Ourense
Oviedo
Palencia
Palma
Parla
Pontevedra
Sabadell
Salamanca
San cristobal
Santa coloma
Santa cruz
Santander
Segovia
Sevilla
Soria
Terragona
Terrasa
Teruel
Toledo
Torrejon
Valencia
Valladolid
Vigo
Zamora
Zaragoza

In [125]:
cid_forma = pd.Series(forma.Ciudad)

In [126]:
cid_area = pd.Series(area.Ciudad)

In [127]:
df_ciudades_nombre = pd.DataFrame({'forma':cid_forma,'area':cid_area})

In [128]:
df_ciudades_nombre.to_csv('ciudades_nombre.csv')

In [129]:
type(forma.Ciudad)

pandas.core.series.Series

In [130]:
for cid in forma.Ciudad:
    print(cid)

Albacete
Alcala
Alcobendas
Alcorcon
Algeciras
Alicante
Almeria
Avila
Badajoz
Badalona
Barcelona
Burgos
Caceres
Cadiz
Cartagena
Castello
Ceuta
Ciudad real
Cordoba
Corunia
Cuenca
Dos hermanas
Elche
Fuentelabra
Getafe
Gijon
Girona
Granada
Guadalajara
Hospitalet
Huelva
Huesca
Jaen
Jerez
Las palmas
Leganes
Leon
Lleida
Logronio
Lugo
Madrid
Malaga
Marbella
Mataro
Melilla
Mostoles
Murcia
Ourense
Oviedo
Palencia
Palma
Parla
Pontevedra
Sabadell
Salamanca
San cristobal
Santa coloma
Santa cruz
Santander
Segovia
Sevilla
Soria
Terragona
Terrasa
Teruel
Toledo
Torrejon
Valencia
Valladolid
Vigo
Zamora
Zaragoza

In [131]:
rep = {'Alcorcon':'Alcorcón','Ciudad real':'Ciudad Real','Bodajoz':'Badajoz','Dos hermanas':'Dos Hermanas','Fuentelabra':'Fuenlabrada',
'Leganes':'Leganés','Logronio':'Logroño','Mataro':'Mataró','Mostoles':'Móstoles','Santa coloma':'Santa Coloma','Santa cruz tenerife':'Santa Cruz de Tenerife',
'San cristobal':'San Cristóbal','Terrasa':'Terrassa','Terragona':'Tarragona','Corunia':'Coruña','Gijon':'Gijón',
'Las palmas':'Palmas de Gran Canaria, Las'}

In [132]:
def replace_cities(df, replacements,col):
    for city, replacement in replacements.items():
        df[col] = df[col].str.replace(city, replacement)
    return df

In [133]:
forma_replace = replace_cities(forma, rep,'Ciudad')

In [134]:
area_replace = replace_cities(area, rep,'Ciudad')

In [135]:
for city in forma_replace.Ciudad:
    print(city)

Albacete
Alcala
Alcobendas
Alcorcón
Algeciras
Alicante
Almeria
Avila
Badajoz
Badalona
Barcelona
Burgos
Caceres
Cadiz
Cartagena
Castello
Ceuta
Ciudad Real
Cordoba
Coruña
Cuenca
Dos Hermanas
Elche
Fuenlabrada
Getafe
Gijón
Girona
Granada
Guadalajara
Hospitalet
Huelva
Huesca
Jaen
Jerez
Palmas de Gran Canaria, Las
Leganés
Leon
Lleida
Logroño
Lugo
Madrid
Malaga
Marbella
Mataró
Melilla
Móstoles
Murcia
Ourense
Oviedo
Palencia
Palma
Parla
Pontevedra
Sabadell
Salamanca
San Cristóbal
Santa Coloma
Santa cruz
Santander
Segovia
Sevilla
Soria
Tarragona
Terrassa
Teruel
Toledo
Torrejon
Valencia
Valladolid
Vigo
Zamora
Zaragoza

In [136]:
for city in area_replace.Ciudad:
    print(city)

Albacete
Alcala
Alcobendas
Alcorcón
Algeciras
Alicante
Almeria
Avila
Badajoz
Badalona
Barcelona
Burgos
Caceres
Cadiz
Cartagena
Castello
Ceuta
Ciudad Real
Cordoba
Coruña
Cuenca
Dos Hermanas
Elche
Fuenlabrada
Getafe
Gijón
Girona
Granada
Guadalajara
Hospitalet
Huelva
Huesca
Jaen
Jerez
Palmas de Gran Canaria, Las
Leganés
Leon
Lleida
Logroño
Lugo
Madrid
Malaga
Marbella
Mataró
Melilla
Móstoles
Murcia
Ourense
Oviedo
Palencia
Palma
Parla
Pontevedra
Sabadell
Salamanca
San Cristóbal
Santa Coloma
Santa cruz
Santander
Segovia
Sevilla
Soria
Tarragona
Terrassa
Teruel
Toledo
Torrejon
Valencia
Valladolid
Vigo
Zamora
Zaragoza

In [137]:
forma_area = pd.merge(forma_replace, area_replace, how = 'left', on = 'Ciudad')

In [140]:
forma_area.to_csv('C:/projectos/manifolds/ciudades/datos/metricas/forma_area.csv', encoding = 'ISO-8859-1')

In [ ]:
"C:/projectos/manifolds/ciudades/datos/metricas/ciudades_forma.csv"