In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as smf # Asi usaremos la notacion de formula
import statsmodels.api as sm # asi usaremos la notacion de sklearn
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
usos_wide = pd.read_csv(r"C:\Users\crist\Documents\GitHub\manifolds\ciudades\datos\datos_completos\df_datos_std.csv", encoding = 'ISO-8859-1')
usos_wide = usos_wide.iloc[:,1:50]

In [9]:
usos_wide.columns

Index(['TA', 'LPI', 'AREA_MN', 'AREA_AM', 'AREA_MD', 'GYRATE_MN', 'GYRATE_AM',
       'GYRATE_MD', 'PRD', 'SHDI', 'SIDI', 'MSIDI', 'SHEI', 'SIEI', 'MSIEI',
       'NP', 'DIVISION', 'SPLIT', 'MESH', 'PAFRAC', 'SHAPE_MN', 'SHAPE_MD',
       'PARA_MN', 'PARA_MD', 'FRAC_MD', 'SQUARE_MN', 'SQUARE_MD', 'IJI', 'LSI',
       'TE', 'ED', 'RNMDP_2020', 'PobT', 'PobH', 'PobM', 'Vehiculos',
       'T_Viviendas', 'T_Viv_Prin', 'T_Viv_Sec', 'Viv_vacias', 'COM',
       'ED_SING', 'EQUIP', 'IND', 'OCIO', 'OFI', 'RES_PLU', 'RES_UNI',
       'Ciudades'],
      dtype='object')

In [10]:
usos_wide_sin_ciudad = usos_wide.drop("Ciudades", axis =1 )

In [11]:
usos_wide_sin_ciudad.columns

Index(['TA', 'LPI', 'AREA_MN', 'AREA_AM', 'AREA_MD', 'GYRATE_MN', 'GYRATE_AM',
       'GYRATE_MD', 'PRD', 'SHDI', 'SIDI', 'MSIDI', 'SHEI', 'SIEI', 'MSIEI',
       'NP', 'DIVISION', 'SPLIT', 'MESH', 'PAFRAC', 'SHAPE_MN', 'SHAPE_MD',
       'PARA_MN', 'PARA_MD', 'FRAC_MD', 'SQUARE_MN', 'SQUARE_MD', 'IJI', 'LSI',
       'TE', 'ED', 'RNMDP_2020', 'PobT', 'PobH', 'PobM', 'Vehiculos',
       'T_Viviendas', 'T_Viv_Prin', 'T_Viv_Sec', 'Viv_vacias', 'COM',
       'ED_SING', 'EQUIP', 'IND', 'OCIO', 'OFI', 'RES_PLU', 'RES_UNI'],
      dtype='object')

In [12]:
import sys
sys.path.append('datos/notebook/')
from outliers import outliers_iqr

In [14]:
outliers_st = outliers_iqr(usos_wide_sin_ciudad)

In [23]:
outliers_st = outliers_st.set_index(usos_wide["Ciudades"])

In [27]:
outliers_st["Ciudades"] = usos_wide["Ciudades"]

In [34]:
outliers_st = outliers_st.drop("Ciudades", axis = 1)

In [39]:
outliers_st = outliers_st.reset_index()

In [40]:
outliers_st

,Ciudades,TA,LPI,AREA_MN,AREA_AM,AREA_MD,GYRATE_MN,GYRATE_AM,GYRATE_MD,PRD,...,T_Viv_Sec,Viv_vacias,COM,ED_SING,EQUIP,IND,OCIO,OFI,RES_PLU,RES_UNI
0,Albacete,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
1,Alcalá de Henares,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,tipico,tipico
2,Alcobendas,tipico,tipico,atipico,tipico,atipico,atipico,tipico,atipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,tipico,tipico
3,Alcorcón,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,atipico,tipico,tipico,tipico,tipico,tipico
4,Algeciras,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Valencia,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,atipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,tipico
68,Valladolid,tipico,tipico,tipico,atipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
69,Vigo,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
70,Zamora,tipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
71,Zaragoza,atipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico

In [54]:
outliers_st

,Ciudades,TA,LPI,AREA_MN,AREA_AM,AREA_MD,GYRATE_MN,GYRATE_AM,GYRATE_MD,PRD,...,T_Viv_Sec,Viv_vacias,COM,ED_SING,EQUIP,IND,OCIO,OFI,RES_PLU,RES_UNI
0,Albacete,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
1,Alcalá de Henares,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,tipico,tipico
2,Alcobendas,tipico,tipico,atipico,tipico,atipico,atipico,tipico,atipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,tipico,tipico
3,Alcorcón,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,atipico,tipico,tipico,tipico,tipico,tipico
4,Algeciras,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Valencia,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,atipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,tipico
68,Valladolid,tipico,tipico,tipico,atipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
69,Vigo,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
70,Zamora,tipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
71,Zaragoza,atipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico

In [41]:
def count_outliers(df):
    counts = df.apply(lambda column: (column == 'atipico').sum())
    return pd.DataFrame({'Outliers_Count': counts})

In [32]:
### Crear una funcion para filtrar para los casos positivos de outliers ###
### y mostrar los nombres de las ciudades para cada variable ###

In [42]:
outliers_count_df = count_outliers(outliers_st)

print(outliers_count_df)

             Outliers_Count
Ciudades                  0
TA                        4
LPI                       7
AREA_MN                   3
AREA_AM                   9
AREA_MD                   2
GYRATE_MN                 1
GYRATE_AM                 5
GYRATE_MD                 2
PRD                       1
SHDI                      7
SIDI                      5
MSIDI                     4
SHEI                      2
SIEI                      5
MSIEI                     4
NP                        5
DIVISION                  8
SPLIT                     4
MESH                      6
PAFRAC                    5
SHAPE_MN                  6
SHAPE_MD                  7
PARA_MN                   2
PARA_MD                   0
FRAC_MD                   4
SQUARE_MN                15
SQUARE_MD                 8
IJI                       0
LSI                       2
TE                        5
ED                        2
RNMDP_2020                3
PobT                      8
PobH                      8
PobM                      8
Vehiculos                 8
T_Viviendas               6
T_Viv_Prin                7
T_Viv_Sec                 7
Viv_vacias                6
COM                       0
ED_SING                   4
EQUIP                     2
IND                       2
OCIO                      6
OFI                       6
RES_PLU                   4
RES_UNI                   1

In [46]:
# Primero falta agregar la variable ciudad

outliers_cases = {}

for column in outliers_st.columns:
    outliers_cases[column] = list(outliers_st[outliers_st[column] == 'atipico']['Ciudades'])

print(outliers_cases)

{'Ciudades': [], 'TA': ['Barcelona', 'Córdoba', 'Marbella', 'Zaragoza'], 'LPI': ['Cáceres', 'Leganés', 'Parla', 'Santa Coloma de Gramenet', 'Toledo', 'Torrejón de Ardoz', 'Zamora'], 'AREA_MN': ['Alcobendas', 'Toledo', 'Torrejón de Ardoz'], 'AREA_AM': ['Cáceres', 'Cartagena', 'Dos Hermanas', 'Jerez de la Frontera', 'Leganés', 'Parla', 'Toledo', 'Torrejón de Ardoz', 'Valladolid'], 'AREA_MD': ['Alcobendas', 'Marbella'], 'GYRATE_MN': ['Alcobendas'], 'GYRATE_AM': ['Cáceres', 'Leganés', 'Parla', 'Toledo', 'Torrejón de Ardoz'], 'GYRATE_MD': ['Alcobendas', 'Marbella'], 'PRD': ['Santa Coloma de Gramenet'], 'SHDI': ['Algeciras', 'Badajoz', 'Burgos', 'Córdoba', 'Marbella', 'Ourense', 'Torrejón de Ardoz'], 'SIDI': ['Algeciras', 'Badajoz', 'Córdoba', 'Ourense', 'Torrejón de Ardoz'], 'MSIDI': ['Algeciras', 'Badajoz', 'Ourense', 'Torrejón de Ardoz'], 'SHEI': ['Badajoz', 'Torrejón de Ardoz'], 'SIEI': ['Algeciras', 'Badajoz', 'Córdoba', 'Ourense', 'Torrejón de Ardoz'], 'MSIEI': ['Algeciras', 'Badajoz', 'Ourense', 'Torrejón de Ardoz'], 'NP': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Sevilla'], 'DIVISION': ['Cáceres', 'Huelva', 'Leganés', 'Parla', 'Santa Coloma de Gramenet', 'Toledo', 'Torrejón de Ardoz', 'Zamora'], 'SPLIT': ['Barcelona', 'Córdoba', 'Málaga', 'San Cristóbal de La Laguna'], 'MESH': ['Cáceres', 'Leganés', 'Madrid', 'Parla', 'Toledo', 'Torrejón de Ardoz'], 'PAFRAC': ['Ceuta', 'Lugo', 'Ourense', 'Pontevedra', 'Vigo'], 'SHAPE_MN': ['Badalona', 'Lugo', 'Mataró', 'Melilla', 'Sabadell', 'Terrassa'], 'SHAPE_MD': ['Badalona', 'Lugo', 'Mataró', 'Melilla', 'Parla', 'Sabadell', 'Terrassa'], 'PARA_MN': ['Ceuta', 'Sevilla'], 'PARA_MD': [], 'FRAC_MD': ['Badalona', 'Mataró', 'Sabadell', 'Terrassa'], 'SQUARE_MN': ['Alcobendas', 'Badalona', 'Coruña, A', 'Elche/Elx', 'Jerez de la Frontera', 'Madrid', 'Marbella', 'Mataró', 'Murcia', 'Parla', 'Sabadell', 'Sevilla', 'Terrassa', 'Toledo', 'Zaragoza'], 'SQUARE_MD': ['Badalona', "Hospitalet de Llobregat, L'", 'Lugo', 'Mataró', 'Melilla', 'Parla', 'Sabadell', 'Terrassa'], 'IJI': [], 'LSI': ['Barcelona', 'Madrid'], 'TE': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Sevilla'], 'ED': ['Santa Coloma de Gramenet', 'Torrejón de Ardoz'], 'RNMDP_2020': ['Alcobendas', 'Barcelona', 'Madrid'], 'PobT': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'PobH': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'PobM': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'Vehiculos': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'T_Viviendas': ['Barcelona', 'Madrid', 'Málaga', 'Sevilla', 'Valencia', 'Zaragoza'], 'T_Viv_Prin': ['Barcelona', 'Madrid', 'Málaga', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'T_Viv_Sec': ['Alicante/Alacant', 'Barcelona', 'Cartagena', 'Madrid', 'Marbella', 'Sevilla', 'Valencia'], 'Viv_vacias': ['Barcelona', 'Madrid', 'Murcia', 'Sevilla', 'Valencia', 'Zaragoza'], 'COM': [], 'ED_SING': ['Ceuta', 'Leganés', 'Melilla', 'Torrejón de Ardoz'], 'EQUIP': ['Alcorcón', 'Ciudad Real'], 'IND': ['Burgos', 'Fuenlabrada'], 'OCIO': ['Alicante/Alacant', 'Guadalajara', 'Marbella', 'Mataró', 'Palma de Mallorca', 'Segovia'], 'OFI': ['Alcalá de Henares', 'Alcobendas', 'Barcelona', 'Madrid', 'Parla', 'Tarragona'], 'RES_PLU': ['Barcelona', 'Cádiz', 'Santa Coloma de Gramenet', 'Valencia'], 'RES_UNI': ['Badajoz']}

In [52]:
for variable, ciudades in outliers_cases.items():
    print(f"Atipicos for {variable}: {ciudades}")

Atipicos for Ciudades: []
Atipicos for TA: ['Barcelona', 'Córdoba', 'Marbella', 'Zaragoza']
Atipicos for LPI: ['Cáceres', 'Leganés', 'Parla', 'Santa Coloma de Gramenet', 'Toledo', 'Torrejón de Ardoz', 'Zamora']
Atipicos for AREA_MN: ['Alcobendas', 'Toledo', 'Torrejón de Ardoz']
Atipicos for AREA_AM: ['Cáceres', 'Cartagena', 'Dos Hermanas', 'Jerez de la Frontera', 'Leganés', 'Parla', 'Toledo', 'Torrejón de Ardoz', 'Valladolid']
Atipicos for AREA_MD: ['Alcobendas', 'Marbella']
Atipicos for GYRATE_MN: ['Alcobendas']
Atipicos for GYRATE_AM: ['Cáceres', 'Leganés', 'Parla', 'Toledo', 'Torrejón de Ardoz']
Atipicos for GYRATE_MD: ['Alcobendas', 'Marbella']
Atipicos for PRD: ['Santa Coloma de Gramenet']
Atipicos for SHDI: ['Algeciras', 'Badajoz', 'Burgos', 'Córdoba', 'Marbella', 'Ourense', 'Torrejón de Ardoz']
Atipicos for SIDI: ['Algeciras', 'Badajoz', 'Córdoba', 'Ourense', 'Torrejón de Ardoz']
Atipicos for MSIDI: ['Algeciras', 'Badajoz', 'Ourense', 'Torrejón de Ardoz']
Atipicos for SHEI: ['Badajoz', 'Torrejón de Ardoz']
Atipicos for SIEI: ['Algeciras', 'Badajoz', 'Córdoba', 'Ourense', 'Torrejón de Ardoz']
Atipicos for MSIEI: ['Algeciras', 'Badajoz', 'Ourense', 'Torrejón de Ardoz']
Atipicos for NP: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Sevilla']
Atipicos for DIVISION: ['Cáceres', 'Huelva', 'Leganés', 'Parla', 'Santa Coloma de Gramenet', 'Toledo', 'Torrejón de Ardoz', 'Zamora']
Atipicos for SPLIT: ['Barcelona', 'Córdoba', 'Málaga', 'San Cristóbal de La Laguna']
Atipicos for MESH: ['Cáceres', 'Leganés', 'Madrid', 'Parla', 'Toledo', 'Torrejón de Ardoz']
Atipicos for PAFRAC: ['Ceuta', 'Lugo', 'Ourense', 'Pontevedra', 'Vigo']
Atipicos for SHAPE_MN: ['Badalona', 'Lugo', 'Mataró', 'Melilla', 'Sabadell', 'Terrassa']
Atipicos for SHAPE_MD: ['Badalona', 'Lugo', 'Mataró', 'Melilla', 'Parla', 'Sabadell', 'Terrassa']
Atipicos for PARA_MN: ['Ceuta', 'Sevilla']
Atipicos for PARA_MD: []
Atipicos for FRAC_MD: ['Badalona', 'Mataró', 'Sabadell', 'Terrassa']
Atipicos for SQUARE_MN: ['Alcobendas', 'Badalona', 'Coruña, A', 'Elche/Elx', 'Jerez de la Frontera', 'Madrid', 'Marbella', 'Mataró', 'Murcia', 'Parla', 'Sabadell', 'Sevilla', 'Terrassa', 'Toledo', 'Zaragoza']
Atipicos for SQUARE_MD: ['Badalona', "Hospitalet de Llobregat, L'", 'Lugo', 'Mataró', 'Melilla', 'Parla', 'Sabadell', 'Terrassa']
Atipicos for IJI: []
Atipicos for LSI: ['Barcelona', 'Madrid']
Atipicos for TE: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Sevilla']
Atipicos for ED: ['Santa Coloma de Gramenet', 'Torrejón de Ardoz']
Atipicos for RNMDP_2020: ['Alcobendas', 'Barcelona', 'Madrid']
Atipicos for PobT: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for PobH: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for PobM: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for Vehiculos: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for T_Viviendas: ['Barcelona', 'Madrid', 'Málaga', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for T_Viv_Prin: ['Barcelona', 'Madrid', 'Málaga', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for T_Viv_Sec: ['Alicante/Alacant', 'Barcelona', 'Cartagena', 'Madrid', 'Marbella', 'Sevilla', 'Valencia']
Atipicos for Viv_vacias: ['Barcelona', 'Madrid', 'Murcia', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for COM: []
Atipicos for ED_SING: ['Ceuta', 'Leganés', 'Melilla', 'Torrejón de Ardoz']
Atipicos for EQUIP: ['Alcorcón', 'Ciudad Real']
Atipicos for IND: ['Burgos', 'Fuenlabrada']
Atipicos for OCIO: ['Alicante/Alacant', 'Guadalajara', 'Marbella', 'Mataró', 'Palma de Mallorca', 'Segovia']
Atipicos for OFI: ['Alcalá de Henares', 'Alcobendas', 'Barcelona', 'Madrid', 'Parla', 'Tarragona']
Atipicos for RES_PLU: ['Barcelona', 'Cádiz', 'Santa Coloma de Gramenet', 'Valencia']
Atipicos for RES_UNI: ['Badajoz']

In [ ]:
import pandas as pd

atipicos = {}

# Iterate over each column in the DataFrame
for column in outliers_cases.columns:
    # Filter the DataFrame to get the rows where the column is "atipico"
    atipicos[column] = outliers_cases.loc[outliers_cases[column] == 'atipico', 'Ciudades'].tolist()

# Create a DataFrame from the dictionary
df_atipicos = pd.DataFrame.from_dict(atipicos)

# Print the resulting DataFrame
print(df_atipicos)

In [45]:
import pandas as pd

outliers_cases = pd.DataFrame()  # Create an empty DataFrame

for column in outliers_st.columns:
    outliers_cases[column] = outliers_st[outliers_st[column] == 'atipico']['Ciudades'].reset_index(drop=True)

print(outliers_cases)

  Ciudades         TA                       LPI            AREA_MN  \
0      NaN  Barcelona                   Cáceres         Alcobendas
1      NaN    Córdoba                   Leganés             Toledo
2      NaN   Marbella                     Parla  Torrejón de Ardoz
3      NaN   Zaragoza  Santa Coloma de Gramenet                NaN

                AREA_AM     AREA_MD   GYRATE_MN GYRATE_AM   GYRATE_MD  \
0               Cáceres  Alcobendas  Alcobendas   Cáceres  Alcobendas
1             Cartagena    Marbella         NaN   Leganés    Marbella
2          Dos Hermanas         NaN         NaN     Parla         NaN
3  Jerez de la Frontera         NaN         NaN    Toledo         NaN

                        PRD  ...         T_Viv_Sec Viv_vacias  COM  \
0  Santa Coloma de Gramenet  ...  Alicante/Alacant  Barcelona  NaN
1                       NaN  ...         Barcelona     Madrid  NaN
2                       NaN  ...         Cartagena     Murcia  NaN
3                       NaN  ...            Madrid    Sevilla  NaN

             ED_SING        EQUIP          IND              OCIO  \
0              Ceuta     Alcorcón       Burgos  Alicante/Alacant
1            Leganés  Ciudad Real  Fuenlabrada       Guadalajara
2            Melilla          NaN          NaN          Marbella
3  Torrejón de Ardoz          NaN          NaN            Mataró

                 OFI                   RES_PLU  RES_UNI
0  Alcalá de Henares                 Barcelona  Badajoz
1         Alcobendas                     Cádiz      NaN
2          Barcelona  Santa Coloma de Gramenet      NaN
3             Madrid                  Valencia      NaN

[4 rows x 49 columns]

In [50]:
import pandas as pd

atipicos = {}

# Iterate over each column in the DataFrame
for column in outliers_st.columns:
    # Filter the DataFrame to get the rows where the column is "atipico"
    atipicos[column] = outliers_st.loc[outliers_st[column] == 'atipico', 'Ciudades'].tolist()

# Create a DataFrame from the dictionary
df_atipicos = pd.DataFrame.from_dict(atipicos)

# Print the resulting DataFrame
print(df_atipicos)

ValueError: All arrays must be of the same length

In [53]:
import pandas as pd

atipicos = {}

# Iterate over each column in the DataFrame
for column in df.columns:
    # Filter the DataFrame to get the rows where the column is "atipico"
    atipicos[column] = df.loc[df[column] == 'atipico', 'Ciudades'].tolist()

# Create a DataFrame from the dictionary
df_atipicos = pd.DataFrame.from_dict(atipicos)

# Print the resulting DataFrame
print(df_atipicos)

NameError: name 'df' is not defined