In [2]:
import pandas as pd
import geopandas as gpd
import os
import glob
import string

Progress bar youtube video: https://www.youtube.com/watch?v=n4E7of9BINo&t=6s&ab_channel=RobMulla

In [3]:
from tqdm import tqdm, trange ### Este es un paquete que sirve para poder hacer la barra de progreso.
from time import sleep
from tqdm.notebook import tqdm

In [4]:
path =(r"C:/projectos/shapes/marcos_clasificacion/")
# Change the directory
os.chdir(path)

In [5]:
dict_shapes = {}
pbar = tqdm(total = 72)
# Iterate over all the files in the directory
for file in os.listdir():
   if file.endswith('.shp') and file[0].isalpha():
       temp = gpd.read_file(file)
       dict_shapes[file] = temp
       pbar.update(1)
       sleep(0.0001)
pbar.close()

  0%|          | 0/72 [00:00<?, ?it/s]

In [9]:
path =(r"C:/projectos/shapes/marcos_clasificacion_ag/")
# Change the directory
os.chdir(path)

In [17]:
dict_shapes = {}
pbar = tqdm(total = 72)
# Iterate over all the files in the directory
for file in os.listdir():
   if file.endswith('.shp') and file[0].isalpha():
       temp = gpd.read_file(file)
       dict_shapes[file] = temp
       pbar.update(1)
       sleep(0.0001)
pbar.close()

  0%|                                                                                           | 0/72 [00:52<?, ?it/s]

  1%|█▏                                                                                 | 1/72 [00:15<18:50, 15.92s/it]
  3%|██▎                                                                                | 2/72 [00:27<15:42, 13.46s/it]
  4%|███▍                                                                               | 3/72 [00:32<11:06,  9.67s/it]
  6%|████▌                                                                              | 4/72 [00:37<08:45,  7.73s/it]
  7%|█████▊                                                                             | 5/72 [00:54<12:31, 11.22s/it]
  8%|██████▉                                                                            | 6/72 [01:37<24:09, 21.97s/it]
 10%|████████                                                                           | 7/72 [02:22<31:53, 29.44s/it]
 11%|█████████▏                                                                         | 8/72 [02:35<25:43, 24.12s/it]
 12%|██████████▍                                                                        | 9/72 [03:05<27:26, 26.13s/it]
 14%|███████████▍                                                                      | 10/72 [03:27<25:39, 24.83s/it]
 15%|████████████▌                                                                     | 11/72 [05:02<47:07, 46.35s/it]
 17%|█████████████▋                                                                    | 12/72 [05:16<36:17, 36.29s/it]
 18%|██████████████▊                                                                   | 13/72 [05:31<29:31, 30.02s/it]
 19%|███████████████▉                                                                  | 14/72 [05:39<22:36, 23.38s/it]
 21%|█████████████████                                                                 | 15/72 [06:38<32:20, 34.04s/it]
 22%|██████████████████▏                                                               | 16/72 [07:01<28:39, 30.71s/it]
 24%|███████████████████▎                                                              | 17/72 [07:11<22:22, 24.40s/it]
 25%|████████████████████▌                                                             | 18/72 [07:23<18:38, 20.71s/it]
 26%|█████████████████████▋                                                            | 19/72 [08:06<24:13, 27.43s/it]
 28%|██████████████████████▊                                                           | 20/72 [08:25<21:31, 24.84s/it]
 29%|███████████████████████▉                                                          | 21/72 [08:34<17:14, 20.28s/it]
 31%|█████████████████████████                                                         | 22/72 [09:21<23:23, 28.06s/it]
 32%|██████████████████████████▏                                                       | 23/72 [09:54<24:10, 29.61s/it]
 33%|███████████████████████████▎                                                      | 24/72 [10:09<20:05, 25.11s/it]
 35%|████████████████████████████▍                                                     | 25/72 [10:35<19:54, 25.42s/it]
 36%|█████████████████████████████▌                                                    | 26/72 [10:55<18:14, 23.79s/it]
 38%|██████████████████████████████▊                                                   | 27/72 [11:06<15:06, 20.14s/it]
 39%|███████████████████████████████▉                                                  | 28/72 [11:31<15:52, 21.64s/it]
 40%|█████████████████████████████████                                                 | 29/72 [11:44<13:31, 18.88s/it]
 42%|██████████████████████████████████▏                                               | 30/72 [11:58<12:18, 17.57s/it]
 43%|███████████████████████████████████▎                                              | 31/72 [12:10<10:52, 15.92s/it]
 44%|████████████████████████████████████▍                                             | 32/72 [12:16<08:34, 12.86s/it]
 46%|█████████████████████████████████████▌                                            | 33/72 [12:31<08:45, 13.47s/it]
 47%|██████████████████████████████████████▋                                           | 34/72 [13:08<12:57, 20.45s/it]
 49%|███████████████████████████████████████▊                                          | 35/72 [13:57<17:50, 28.94s/it]
 50%|█████████████████████████████████████████                                         | 36/72 [14:08<14:17, 23.82s/it]
 51%|██████████████████████████████████████████▏                                       | 37/72 [14:21<11:50, 20.31s/it]
 53%|███████████████████████████████████████████▎                                      | 38/72 [14:30<09:41, 17.10s/it]
 54%|████████████████████████████████████████████▍                                     | 39/72 [14:37<07:38, 13.89s/it]
 56%|█████████████████████████████████████████████▌                                    | 40/72 [14:48<06:59, 13.11s/it]
 57%|████████████████████████████████████████████▉                                  | 41/72 [29:19<2:19:41, 270.38s/it]
 58%|██████████████████████████████████████████████                                 | 42/72 [30:14<1:42:57, 205.91s/it]
 60%|███████████████████████████████████████████████▏                               | 43/72 [30:34<1:12:34, 150.16s/it]
 61%|█████████████████████████████████████████████████▌                               | 44/72 [30:49<51:08, 109.58s/it]
 62%|███████████████████████████████████████████████████▎                              | 45/72 [31:17<38:14, 84.99s/it]
 64%|████████████████████████████████████████████████████▍                             | 46/72 [31:26<27:01, 62.35s/it]
 65%|███████████████████████████████████████████████████▌                           | 47/72 [38:38<1:12:09, 173.18s/it]
 67%|██████████████████████████████████████████████████████                           | 48/72 [38:58<50:50, 127.12s/it]
 68%|███████████████████████████████████████████████████████▊                          | 49/72 [39:06<35:03, 91.46s/it]
 69%|████████████████████████████████████████████████████████▉                         | 50/72 [39:13<24:13, 66.05s/it]
 71%|██████████████████████████████████████████████████████████                        | 51/72 [40:01<21:13, 60.67s/it]
 72%|███████████████████████████████████████████████████████████▏                      | 52/72 [40:08<14:50, 44.52s/it]
 74%|████████████████████████████████████████████████████████████▎                     | 53/72 [40:15<10:33, 33.34s/it]
 75%|█████████████████████████████████████████████████████████████▌                    | 54/72 [40:43<09:30, 31.71s/it]
 76%|██████████████████████████████████████████████████████████████▋                   | 55/72 [40:54<07:15, 25.65s/it]
 78%|███████████████████████████████████████████████████████████████▊                  | 56/72 [41:04<05:36, 21.01s/it]
 79%|████████████████████████████████████████████████████████████████▉                 | 57/72 [41:11<04:12, 16.84s/it]
 81%|██████████████████████████████████████████████████████████████████                | 58/72 [41:35<04:23, 18.83s/it]
 82%|███████████████████████████████████████████████████████████████████▏              | 59/72 [42:06<04:51, 22.41s/it]
 83%|████████████████████████████████████████████████████████████████████▎             | 60/72 [42:11<03:27, 17.28s/it]
 85%|████████████████████████████████████████████████████████████████████▋            | 61/72 [48:56<24:30, 133.68s/it]
 86%|██████████████████████████████████████████████████████████████████████▌           | 62/72 [49:03<15:56, 95.61s/it]
 88%|███████████████████████████████████████████████████████████████████████▊          | 63/72 [49:17<10:39, 71.04s/it]
 89%|████████████████████████████████████████████████████████████████████████▉         | 64/72 [49:57<08:14, 61.80s/it]
 90%|██████████████████████████████████████████████████████████████████████████        | 65/72 [50:04<05:17, 45.29s/it]
 92%|███████████████████████████████████████████████████████████████████████████▏      | 66/72 [50:13<03:27, 34.52s/it]
 93%|████████████████████████████████████████████████████████████████████████████▎     | 67/72 [50:21<02:11, 26.37s/it]
 94%|█████████████████████████████████████████████████████████████████████████████▍    | 68/72 [51:00<02:01, 30.26s/it]
 96%|██████████████████████████████████████████████████████████████████████████████▌   | 69/72 [51:31<01:31, 30.38s/it]
 97%|███████████████████████████████████████████████████████████████████████████████▋  | 70/72 [53:47<02:04, 62.20s/it]
 99%|████████████████████████████████████████████████████████████████████████████████▊ | 71/72 [54:01<00:47, 47.69s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 72/72 [54:49<00:00, 45.69s/it]

In [6]:
for keys, values in dict_shapes.items():
    print(keys)

Albacete_class.shp
Alcala_class.shp
Alcobendas_class.shp
Alcorcon_class.shp
Algeciras.shp
Alicante_class.shp
Almeria_class.shp
Avila_class.shp
Badajoz_class.shp
Badalona_class.shp
Barcelona_class.shp
Burgos_class.shp
Caceres_class.shp
Cadiz_class.shp
Cartagena_class.shp
Castello_de_la_Plana_class.shp
Ceuta_class.shp
Ciudad_Real_class.shp
Cordoba_class.shp
Corunia_class.shp
Cuenca_class.shp
doshermanas_class.shp
Elche_class.shp
Fuenlabrada_class.shp
Getafe.shp
Gijon_class.shp
Girona_class.shp
Granada_class.shp
Guadalajara_class.shp
Hospitalet_de_Llobregat_class.shp
Huelva_class.shp
Huesca_class.shp
Jaen_class.shp
Jerez_de_la_Frontera_class.shp
Las_Palmas_Gran_Canaria_class.shp
Leganes.shp
Leon_class.shp
Lleida_class.shp
Logronio_class.shp
Lugo_class.shp
Madrid_class.shp
Malaga_class.shp
Marbella_class.shp
Mataro_clas.shp
Melilla_class.shp
Mostoles_class.shp
Murcia_class.shp
Ourense_class.shp
Oviedo_class.shp
Palencia_class.shp
Palma_class.shp
Parla_clas.shp
Pontevedra_class.shp
Sabadell.shp
Salamanca_class.shp
Santander_class.shp
Santa_Coloma.shp
Santa_Cruz_Tenerife_class.shp
San_Cristobal_de_la_Laguna_class.shp
Segovia_class.shp
Sevilla_class.shp
Soria_class.shp
Tarragona_class.shp
Terrasa_clas.shp
Teruel_class.shp
Toledo_class.shp
Torrejon_clas.shp
Valencia_class.shp
Valladolid_class.shp
Vigo_class.shp
Zamora_class.shp
Zaragoza_class.shp

In [ ]:
## Un paso intermedio seria calcular el area de cada geometria que no viene incluida
## y luego hacer una tabla resumen por categoria. Que es lo que hizo marcos. Seria un interesante ejercicio. Esta tabla exportarla.

In [7]:
dict_areas = {}
for key, value in dict_shapes.items():
    temps = dict_shapes[key].copy()
    temps['Area'] = temps.area
    dict_areas[key] = temps

In [20]:
dict_areas["Albacete_class.shp"].head(2)

,AREA,REFCAT,A_TOT_EDIF,SUP_ED_0,SUP_ED_1,MAX_PLANTA,NUM_INM_R,USO,PROP_AE_AT,RES_UNI,...,OFI,COM,EQUIP_SANI,EQUIP_EDU,EQUIP_OTR,OCIO_ESP,HOS_REST,ED_SING,geometry,Area
0,472,6978915WJ9167H,0,0,0,0,0,SIN_EDIF,0.00,0,...,0,0,0,0,0,0,0,0,"POLYGON ((596928.841 4317779.775, 596895.924 4...",472.41
1,2138,6879902WJ9167H,5918,939,1177,4,29,RES_PLU,0.55,0,...,0,0,0,0,1,0,0,0,"POLYGON ((596875.544 4317938.072, 596849.645 4...",2138.46

In [22]:
def uso_agregado_gtp(data_in, clases):
    data_out = {}
    for key, value in data_in.items():
        data_out[key] = value.merge(clases, on = 'USO', how = 'left')
    return data_out

In [23]:
pd.options.display.float_format = "{:.2f}".format

In [24]:
clases_agregadas = pd.read_csv("C:/projectos/shapes/clases_agregadas.csv")
clases_agregadas

           USO    USO_AG
0          COM       COM
1      ED_SING   ED_SING
2    EQUIP_EDU     EQUIP
3    EQUIP_OTR     EQUIP
4   EQUIP_SANI     EQUIP
5     HOS_REST      OCIO
6          IND       IND
7       IND_MX       IND
8     OCIO_ESP      OCIO
9          OFI       OFI
10     RES_PLU   RES_PLU
11  RES_PLU_MX   RES_PLU
12     RES_UNI   RES_UNI
13  RES_UNI_MX   RES_UNI
14    SIN_EDIF  SIN_EDIF
15       OTROS     OTROS

In [25]:
uso_agregado_gtp = uso_agregado_gtp(dict_areas,clases_agregadas)

In [26]:
uso_agregado_gtp["Albacete_class.shp"]

,AREA,REFCAT,A_TOT_EDIF,SUP_ED_0,SUP_ED_1,MAX_PLANTA,NUM_INM_R,USO,PROP_AE_AT,RES_UNI,...,COM,EQUIP_SANI,EQUIP_EDU,EQUIP_OTR,OCIO_ESP,HOS_REST,ED_SING,geometry,Area,USO_AG
0,472,6978915WJ9167H,0,0,0,0,0,SIN_EDIF,0.00,0,...,0,0,0,0,0,0,0,"POLYGON ((596928.841 4317779.775, 596895.924 4...",472.41,SIN_EDIF
1,2138,6879902WJ9167H,5918,939,1177,4,29,RES_PLU,0.55,0,...,0,0,0,1,0,0,0,"POLYGON ((596875.544 4317938.072, 596849.645 4...",2138.46,RES_PLU
2,400,6978903WJ9167H,0,0,0,0,0,SIN_EDIF,0.00,0,...,0,0,0,0,0,0,0,"POLYGON ((597012.007 4317902.184, 597000.745 4...",400.23,SIN_EDIF
3,647,6409719WJ9260N,809,648,0,0,0,IND,1.00,0,...,0,0,0,0,0,0,0,"POLYGON ((596325.016 4320621.310, 596299.126 4...",646.94,IND
4,250,3984813WJ9038S,275,95,100,1,2,RES_UNI,0.40,100,...,0,0,0,0,0,0,0,"POLYGON ((593827.090 4308198.986, 593807.284 4...",250.25,RES_UNI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16335,9510,7658912WJ9175N,0,0,0,0,0,SIN_EDIF,0.00,0,...,0,0,0,0,0,0,0,"POLYGON ((597374.826 4315369.379, 597374.950 4...",9509.90,SIN_EDIF
16336,1445,2239008WJ9223N,257,257,0,0,2,RES_UNI,0.18,100,...,0,0,0,0,0,0,0,"POLYGON ((592132.399 4323711.287, 592124.179 4...",1444.57,RES_UNI
16337,198,8478011WJ9187G,887,199,172,4,5,RES_PLU_MX,1.01,0,...,20,0,0,0,0,0,0,"POLYGON ((598305.200 4317610.051, 598305.686 4...",198.47,RES_PLU
16338,176,7662322WJ9176D,0,0,0,0,0,SIN_EDIF,0.00,0,...,0,0,0,0,0,0,0,"POLYGON ((597514.170 4316059.622, 597507.516 4...",175.87,SIN_EDIF
16339,176,7662306WJ9176D,0,0,0,0,0,SIN_EDIF,0.00,0,...,0,0,0,0,0,0,0,"POLYGON ((597517.410 4316085.552, 597524.085 4...",175.84,SIN_EDIF

In [28]:
uso_agregado_gtp["Albacete_class.shp"]['USO_AG'].unique()

array(['SIN_EDIF', 'RES_PLU', 'IND', 'RES_UNI', 'EQUIP', 'OTROS', 'OFI',
       'ED_SING', 'OCIO', 'COM'], dtype=object)

In [29]:
df_final = pd.DataFrame()
for key, value in uso_agregado_gtp.items():
    temp = uso_agregado_gtp[key] 
    temp_cat = temp.groupby('USO_AG')['Area'].sum()
    temp_area = temp.groupby('USO_AG')['Area'].sum().sum()
    temp_porcentaje = (temp_cat/temp_area)*100
    df_temp = temp_porcentaje.to_frame().rename(columns = {'Area':key})
    df_final = pd.concat([df_final,df_temp], axis = 1)

In [23]:
df_final = pd.DataFrame()
for key, value in dict_areas.items():
    temp = dict_areas[key] 
    temp_cat = temp.groupby('USO_AG')['Area'].sum()
    temp_area = temp.groupby('USO_AG')['Area'].sum().sum()
    temp_porcentaje = (temp_cat/temp_area)*100
    df_temp = temp_porcentaje.to_frame().rename(columns = {'Area':key})
    df_final = pd.concat([df_final,df_temp], axis = 1)

In [30]:
df_final

,Albacete_class.shp,Alcala_class.shp,Alcobendas_class.shp,Alcorcon_class.shp,Algeciras.shp,Alicante_class.shp,Almeria_class.shp,Avila_class.shp,Badajoz_class.shp,Badalona_class.shp,...,Tarragona_class.shp,Terrasa_clas.shp,Teruel_class.shp,Toledo_class.shp,Torrejon_clas.shp,Valencia_class.shp,Valladolid_class.shp,Vigo_class.shp,Zamora_class.shp,Zaragoza_class.shp
USO_AG,,,,,,,,,,,,,,,,,,,,,
COM,0.31,1.06,0.40,1.21,0.58,0.78,0.74,0.19,0.89,0.96,...,0.38,1.41,0.36,0.19,0.25,1.57,0.40,0.28,0.75,0.48
ED_SING,4.77,7.64,5.44,4.34,1.03,2.06,3.99,0.68,1.29,6.54,...,6.73,2.95,1.94,10.15,60.14,3.28,4.73,2.10,2.97,4.50
EQUIP,8.36,13.08,8.27,21.05,6.75,7.89,13.40,29.37,8.15,12.46,...,8.59,6.47,8.18,10.42,4.09,13.75,14.77,9.75,16.31,8.80
IND,19.95,28.39,6.53,15.82,7.30,11.95,5.79,8.41,6.06,18.31,...,12.92,17.82,23.08,9.38,9.80,10.03,25.97,13.29,18.75,24.92
OCIO,0.49,0.56,0.22,0.23,0.43,1.61,0.69,0.13,0.17,0.20,...,0.64,0.30,0.61,1.04,0.20,0.59,0.58,0.36,0.29,0.19
OFI,0.38,1.29,2.45,0.22,0.18,0.28,0.51,0.45,0.29,0.36,...,1.36,0.29,0.07,0.39,0.19,0.55,0.34,0.26,0.13,0.17
OTROS,0.03,NaN,0.09,NaN,NaN,0.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.56,NaN,NaN,NaN,0.03
RES_PLU,11.67,9.50,7.26,15.07,5.40,17.21,15.72,8.23,7.41,23.75,...,8.68,15.56,8.20,5.41,6.34,30.45,14.57,7.61,14.45,14.76
RES_UNI,23.60,6.35,20.75,5.28,28.61,25.90,21.24,15.16,45.59,14.27,...,15.92,20.82,15.79,23.90,2.47,5.84,11.63,30.74,13.50,9.01
SIN_EDIF,30.43,32.13,48.59,36.77,49.72,32.31,37.91,37.39,30.15,23.17,...,44.77,34.38,41.78,39.13,16.52,33.37,27.02,35.61,32.86,37.14

In [31]:
df_final.to_csv('uso_ciudades_agregado_completo.csv')

# Ahora vamos a crear una funcion para eliminar el otros de cada uno de los shapes de forma iterativa

In [32]:
dict_filter_otros = {}
for key, value in uso_agregado_gtp.items():
    ciudad = uso_agregado_gtp[key].copy()
    ciudad1 = ciudad[ciudad.loc[:,'USO_AG'] != "OTROS"].copy()
    dict_filter_otros[key] = ciudad1

In [50]:
len(dict_filter_otros)

72

In [55]:
df_otros = pd.DataFrame()
for key, value in dict_filter_otros.items():
    temp = dict_filter_otros[key] 
    temp_cat = temp.groupby('USO_AG')['Area'].sum()
    temp_area = temp.groupby('USO_AG')['Area'].sum().sum()
    temp_porcentaje = (temp_cat/temp_area)*100
    df_temp = temp_porcentaje.to_frame().rename(columns = {'Area':key})
    df_otros = pd.concat([df_otros,df_temp], axis = 1)

In [56]:
df_otros

,Albacete_class.shp,Alcala_class.shp,Alcobendas_class.shp,Alcorcon_class.shp,Algeciras.shp,Alicante_class.shp,Almeria_class.shp,Avila_class.shp,Badajoz_class.shp,Badalona_class.shp,...,Tarragona_class.shp,Terrasa_clas.shp,Teruel_class.shp,Toledo_class.shp,Torrejon_clas.shp,Valencia_class.shp,Valladolid_class.shp,Vigo_class.shp,Zamora_class.shp,Zaragoza_class.shp
USO_AG,,,,,,,,,,,,,,,,,,,,,
COM,0.31,1.06,0.40,1.21,0.58,0.78,0.74,0.19,0.89,0.96,...,0.38,1.41,0.36,0.19,0.25,1.58,0.40,0.28,0.75,0.48
ED_SING,4.78,7.64,5.45,4.34,1.03,2.06,3.99,0.68,1.29,6.54,...,6.73,2.95,1.94,10.15,60.14,3.30,4.73,2.10,2.97,4.50
EQUIP,8.36,13.08,8.28,21.05,6.75,7.89,13.40,29.37,8.15,12.46,...,8.59,6.47,8.18,10.42,4.09,13.83,14.77,9.75,16.31,8.80
IND,19.95,28.39,6.53,15.82,7.30,11.95,5.79,8.41,6.06,18.31,...,12.92,17.82,23.08,9.38,9.80,10.09,25.97,13.29,18.75,24.93
OCIO,0.49,0.56,0.22,0.23,0.43,1.61,0.69,0.13,0.17,0.20,...,0.64,0.30,0.61,1.04,0.20,0.59,0.58,0.36,0.29,0.19
OFI,0.38,1.29,2.45,0.22,0.18,0.28,0.51,0.45,0.29,0.36,...,1.36,0.29,0.07,0.39,0.19,0.56,0.34,0.26,0.13,0.17
RES_PLU,11.68,9.50,7.26,15.07,5.40,17.21,15.72,8.23,7.41,23.75,...,8.68,15.56,8.20,5.41,6.34,30.62,14.57,7.61,14.45,14.76
RES_UNI,23.61,6.35,20.76,5.28,28.61,25.90,21.24,15.16,45.59,14.27,...,15.92,20.82,15.79,23.90,2.47,5.88,11.63,30.74,13.50,9.02
SIN_EDIF,30.44,32.13,48.64,36.77,49.72,32.31,37.91,37.39,30.15,23.17,...,44.77,34.38,41.78,39.13,16.52,33.56,27.02,35.61,32.86,37.15

In [57]:
df_otros.to_csv('df_porcentajes_sin_otros.csv')

In [8]:
dict_filter = {}
for key, value in dict_shapes.items():
    ciudad = dict_areas[key].copy()
    ciudad1 = ciudad[ciudad.loc[:,'USO_AG'] != "SIN_EDIF"].copy()
    ciudad2 = ciudad1[ciudad1.loc[:,'USO_AG'] != "OTROS"].copy()
    dict_filter[key] = ciudad2

In [ ]:
# Chatgtp option

dict_filter = {}

for key, value in dict_shapes.items():
    ciudad = dict_areas[key].copy()
    ciudad_filtered = ciudad.loc[(ciudad['USO_AG'] != "SIN_EDIF") & (ciudad['USO_AG'] != "OTROS"), :]
    dict_filter[key] = ciudad_filtered

In [20]:
dict_filter['Albacete_class.shp'][dict_filter["Albacete_class.shp"].loc[:,'USO_AG'] == 'OTROS']

Empty GeoDataFrame
Columns: [index, AREA, REFCAT, A_TOT_EDIF, SUP_ED_0, SUP_ED_1, MAX_PLANTA, NUM_INM_R, USO, PROP_AE_AT, RES_UNI, RES_PLU, IND, OFI, COM, EQUIP_SANI, EQUIP_EDU, EQUIP_OTR, OCIO_ESP, HOS_REST, ED_SING, USO_AG, cod_usos_a, Area_1, Area_2, geometry, Area]
Index: []

[0 rows x 27 columns]

In [21]:
for keys, values in dict_filter.items():
    dict_filter[keys].to_file('C:/projectos/shapes/marcos_clasificacion_ag/'+ keys)

In [14]:
# Exportamos Albacete sin otros

Albacete_sin_otros.to_file('C:/projectos/shapes/test/Albacete_sin_otros.shp')

## Vamos a calcular los porcentajes nuevamente sin otros y sin edificar ##

In [22]:
df_final_filter = pd.DataFrame()
for key, value in dict_filter.items():
    temp = dict_filter[key] 
    temp_cat = temp.groupby('USO_AG')['Area'].sum()
    temp_area = temp.groupby('USO_AG')['Area'].sum().sum()
    temp_porcentaje = (temp_cat/temp_area)*100
    df_temp = temp_porcentaje.to_frame().rename(columns = {'Area':key})
    df_final_filter = pd.concat([df_final_filter,df_temp], axis = 1)

In [24]:
df_final_filter.to_csv('df_final_filter.csv')